<div style="height:100%; width:100%; background-color:<?=$bgColor?>;">
	<?
		include "pages/menu.html";
	?>
<table style="width:100%;">
	<tr style="background-color:#EEEEEE;">
		<td style="padding:50px 20px 50px 20px;">
			<table style="width:100%;">
				<tr>
					<td colspan="3" style="text-align:left;">
						<span style="font-size:20px; font-weight:bold; color:#468800;">· 포인트 적립 요약</span>
						<br><br><br>
					</td>
				</tr>
				<tr>
					<td class="box_default" style="width:32%; text-align:center; vertical-align:middle;">
						<br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">오늘</span>
						<br><br>
						<span style="font-size:30px; font-weight:bold; color:#f29b1a;">￦ 654,120,254</span>
						<br><br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">포인트적립이 발생하였습니다.</span>
						<br>
					</td>
					<td style="width:2%;"></td>
					<td class="box_default" style="width:32%; text-align:center; vertical-align:middle;">
						<br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">어제</span>
						<br><br>
						<span style="font-size:30px; font-weight:bold; color:#f29b1a;">￦ 654,120,254</span>
						<br><br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">포인트적립이 발생하였습니다.</span>
						<br>
					</td>
					<td style="width:2%;"></td>
					<td class="box_default" style="width:32%; text-align:center; vertical-align:middle;">
						<br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">현재까지</span>
						<br><br>
						<span style="font-size:30px; font-weight:bold; color:#f29b1a;">￦ 654,120,254</span>
						<br><br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">포인트적립이 발생하였습니다.</span>
						<br>
					</td>
				</tr>
				
			</table>
			
		</td>
	</tr>
	<tr style="background-color:#DDDDDD;">
		<td style="padding:50px 20px 50px 20px;">
			<table style="width:100%;">
				<tr>
					<td colspan="3" style="text-align:left;">
						<span style="font-size:20px; font-weight:bold; color:#c16262;">· 사용자 통계 요약</span>
						<br><br><br>
					</td>
				</tr>
				<tr>
					<td class="box_default" style="width:32%; text-align:center; vertical-align:middle;">
						<br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">금일 신규유저</span>
						<br><br>
						<span style="font-size:30px; font-weight:bold; color:#4754ff;">12</span>
						<br><br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">명이 발생하였습니다..</span>
						<br>
					</td>
					<td style="width:2%;"></td>
					<td class="box_default" style="width:32%; text-align:center; vertical-align:middle;">
						<br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">금일</span>
						<br><br>
						<span style="font-size:30px; font-weight:bold; color:#4754ff;">13</span>
						<br><br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">명이 사용하였습니다.</span>
						<br>
					</td>
					<td style="width:2%;"></td>
					<td class="box_default" style="width:32%; text-align:center; vertical-align:middle;">
						<br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">현재</span>
						<br><br>
						<span style="font-size:30px; font-weight:bold; color:#4754ff;">12</span>
						<br><br>
						<span style="font-size:20px; font-weight:bold; color:#000000;">명의 사용자가 가입되어 있습니다.</span>
						<br>
					</td>
				</tr>
				
			</table>
			
		</td>
	</tr>
</table>
</div>