<div style="height:100%; width:100%; background-image:url('images/loginbg.jpg'); background-size:cover;">
</div>


<div id="modalBG" style="display:none; opacity:0.00; background-image:url('./images/bg_sidemenu_content.png'); position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:998;"></div>

<div id="loginModal" style="display:none; opacity:0.00; position:fixed; top:50%; left:50%; width:360px; height:200px; margin-left:-180px; margin-top:-100px; #000000; z-index:999;">
	<table cellpadding="0" cellspacing="0"  style="width:100%; height:100%;">
		<tr>
			<td style="height:40px; background-color:<?=$uiColor1?>; border-radius:10px 10px 0px 0px; box-shadow: 1px 1px 3px #000000;">
				<table style="width:100%;">
					<tr>
						<td style="width:100%; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold;">
						관리자 인증
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
		<tr>
			<td style="background-color:#FFFFFF;  border-radius: 0px 0px 10px 10px;box-shadow: 1px 1px 3px #000000; padding:10px;">
				<table cellspacing="10" style="width:100%;">
					<tr>
						<td style="text-align:center;">
							<input id="pw" type="password" class="input_default" style="width:90%; height:40px;border-color:<?=$uiColor1?>;" placeholder="인증키">
						</td>
					</tr>
					<tr><td style="height:10px;"></td></tr>
					<tr>
						<td style="text-align:center;">
							<input type="button" class="bt_default" style=" width:130px; height:40px; background-color:<?=$uiColor1?>;" onclick="dynamicSrc('func=checkAdmin&pw='+document.getElementById('pw').value);" value="인증">
						</td>
					</tr>
				</table>
					
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript">

	function showLoginModal(){
		//입력폼 초기화
		document.getElementById("pw").value = "";
		
		
		document.getElementById("modalBG").style.display = "block";
		document.getElementById("loginModal").style.display = "block";
		$("#modalBG").animate({opacity:"1.00"}, 1000);
		$("#loginModal").animate({opacity:"1.00"}, 1000);
	}

	showLoginModal();
</script>