<script type="text/javascript">	
	function subMenuMouseOver(id){
		document.getElementById(id+"_selectArea").style.backgroundColor = "<?=$uiColor3?>";
	}
	
	function subMenuMouseOut(id){
		if(id != "<?=$page?>")
		document.getElementById(id+"_selectArea").style.backgroundColor = "";
	}
</script>


<div style="height:140px; width:100%;">
	<table cellpadding="0" cellspacing="0" style="height:100%; width:100%;">
		<tr style="height:80px;">
			<td>
			
				<table cellpadding="0" cellspacing="0" style="height:100%; width:100%;">
					<tr>
						<td style="width:200px; text-align:center; color:<?=$uiColor1?>; font-size:20px; font-weight:bold; cursor:pointer;" onclick="location.href='?loc=home';">
							머니코드 Admin
						</td>
						<td>
						</td>
						
						<td style="width:200px; text-align:center; cursor:pointer; line-height200%;">
							<b>관리자님</b>님 환영합니다.
							<br><br>
							<input type="button" class="bt_default_shadow" style="background-color:<?=$uiColor1?>; padding:3px 10px 3px 10px; margin:3px 3px 3px 3px; cursor:pointer;" onclick="dynamicSrc('func=logout');" value="로그아웃">
						</td>
					</tr>
				</table>
				
			</td>
		</tr>
		<tr style="height:50px;">
			<td style="background-color:<?=$uiColor1?>; box-shadow: 0px 3px 5px #888888;">
			
				<table cellpadding="0" cellspacing="0" style="height:100%; width:100%;">
					<tr>
						<td onmouseover="controlSideMenu('show');" style="width:50px; background-color:<?=$uiColor2?>; text-align:center; cursor:pointer;">
							<div style="width:60%; height:3px; background-color:<?=$uiColor3?>; margin-left:5px; margin-bottom:5px;"></div>
							<div style="width:60%; height:3px; background-color:<?=$uiColor3?>; margin-left:5px;  margin-bottom:5px;"></div>
							<div style="width:60%; height:3px; background-color:<?=$uiColor3?>; margin-left:5px; "></div>
						</td>
						<td style="background-color:<?=$uiColor2?>; width:150px; text-align:center; color:<?=$uiColor3?>; font-size:16px; font-weight:bold;">
							<?
								
								if($loc == "home"){
									echo "HOME";
								}
								else{
									for($i = 0; $i < count($arrMenu); $i++){
										if($arrMenu[$i][0] == $loc){
											echo $arrMenu[$i][1];
										}
									}
								}
							
							?>
						</td>
						<?
						if($loc == "home"){
						}
						else{
							$subMenuData;
							for($i = 0; $i < count($arrMenu); $i++){
								if($arrMenu[$i][0] == $loc){
									$subMenuData = $arrMenu[$i][2];
								}
							}
							
							for($i = 0; $i < count($subMenuData); $i++){
								
								$subMenuId = $subMenuData[$i][0];
								$subMenuName = $subMenuData[$i][1];
								
								$selectAreaId = $subMenuId."_selectArea";
								$selected = "";
								if($page == $subMenuId) $selected = "background-color:".$uiColor3.";";
								
								echo ("
									<td style='width:150px;'>
										<table cellpadding='0' cellspacing='0' style='width:100%; height:100%; cursor:pointer;'  onmouseover=\"subMenuMouseOver('$subMenuId');\" onmouseout=\"subMenuMouseOut('$subMenuId');\" onclick=\"location.href='?loc=$loc&page=$subMenuId';\">
											<tr>
												<td style='text-align:center; color:$uiColor3; font-size:12px; font-weight:bold; padding-top:5px;'>
													$subMenuName
												</td>
											</tr>
											<tr>
												<td id='$selectAreaId' style='height:3px; $selected'>
												</td>
											</tr>
										</table>
									</td>
								
								");
							}
						
						}
						
						
						?>
						<td></td>
					</tr>
				</table>
				
			</td>
		</tr>
		<tr style="height:10px;">
			<td>
			</td>
		</tr>
	</table>
</div>