<div style="height:100%; width:100%; background-color:<?=$bgColor?>;">
	<?
		include "pages/menu.html";
	?>
	<table style="width:100%;">
		<tr>
			<td style="width:80%; padding:10px; vertical-align:top;">
				<table class="box_soft" style="width:100%; padding:0px;">
					<tr>
						<td class="box_soft_title">
							<table style="width:100%;">
								<tr>
									<td style="text-align:left; color:#000000; font-size:14px; ">
										공지사항 관리 테이블
									</td>
									<td style="text-align:right;">
										<input type="button" class="table_button" value="공지사항 등록하기" onclick="showInsertNotice('show');"> 
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding:10px;">
							<table cellpadding="5" cellspacing="1" style="width:100%; background-color:#6e8f9e;">
								<tr>
									<td class="table_title">
										공지시간
									</td>
									<td class="table_title">
										제목
									</td>
									<td class="table_title">
										내용
									</td>
									<td class="table_title">
										수정
									</td>
									<td class="table_title">
										삭제
									</td>
								</tr>
								<?
								
									$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
									mysql_select_db($db,$con) or die("db selection failed");
									mysql_query("set names utf8");
									
									$query = mysql_query("SELECT no, title, text, event_time FROM ".$tableHeader."_notice;");
									
									$lineType = "table_line2";
									
									while($row = mysql_fetch_array($query)){
									
										if($lineType == "table_line2") $lineType = "table_line1";
										else $lineType = "table_line2";
										
								?>
										<tr>
											<td class="<?=$lineType?>">
												<?=$row["event_time"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["title"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["text"]?>
											</td>
											<td class="<?=$lineType?>">
												<input type="button" class="table_button" value="수정" onclick="showUpdateNotice('show', <?=$row["no"]?>, '<?=$row["title"]?>', '<?=$row["text"]?>');"> 
											</td>
											<td class="<?=$lineType?>">
												<input type="button" class="table_button" value="삭제" onclick="delete_notice(<?=$row["no"]?>);"> 
											</td>
										</tr>
								<?
									}
								?>
							</table>
						</td>
					</tr>
					
				</table>
			</td>
			<td class="box_soft_guide" style="width:20%;">
				<b>· 추가방법</b>
				<br>
				공지사항 등록하기 버튼을 누르세요.
				<br><br><br>
				<b>· 제거방법</b>
				<br>
				항목에서 삭제 버튼을 누르세요.
				<br><br><br>
				<b>· 수정방법</b>
				<br>
				항목에서 수정 버튼을 누르세요.
			</td>
		</tr>
	</table>
</div>


<script type="text/javascript">

	function showInsertNotice(state){
		switch (state){
			case "show":
			
				//입력폼 초기화
				document.getElementById("insert_notice_title").value = "";
				document.getElementById("insert_notice_text").value = "";
				
				document.getElementById("modalBG").style.display = "block";
				document.getElementById("insertNoticeModal").style.display = "block";
				$("#modalBG").animate({opacity:"1.00"}, 200);
				$("#insertNoticeModal").animate({opacity:"1.00"}, 200);
			break;
			
			case "hide":
				$("#modalBG").animate({opacity:"0.00"}, 200);
				$("#insertNoticeModal").animate({opacity:"0.00"}, 200);
				setTimeout(function(){
					document.getElementById("modalBG").style.display = "none";
					document.getElementById("insertNoticeModal").style.display = "none";
				}, 200);
			break;
		}
	}
	
	function insert_notice(){
		var title = document.getElementById("insert_notice_title").value;
		var text = document.getElementById("insert_notice_text").value;
		
		if(!title) {alert("제목을 입력해주세요."); return false;}
		if(!text) {alert("내용을 입력해주세요."); return false;}
		
		dynamicSrc("func=insert_notice&title="+title+"&text="+text);
	}
	
	
	function showUpdateNotice(state, no, title, text){
		switch (state){
			case "show":
				//입력폼 초기화
				
				document.getElementById("update_notice_no").value = no;
				document.getElementById("update_notice_title").value = title;
				document.getElementById("update_notice_text").value = text;
				
				document.getElementById("modalBG").style.display = "block";
				document.getElementById("updateNoticeModal").style.display = "block";
				$("#modalBG").animate({opacity:"1.00"}, 200);
				$("#updateNoticeModal").animate({opacity:"1.00"}, 200);
			break;
			
			case "hide":
				$("#modalBG").animate({opacity:"0.00"}, 200);
				$("#updateNoticeModal").animate({opacity:"0.00"}, 200);
				setTimeout(function(){
					document.getElementById("modalBG").style.display = "none";
					document.getElementById("updateNoticeModal").style.display = "none";
				}, 200);
			break;
		}
	}
	
	function update_notice(){
		var title = document.getElementById("update_notice_title").value;
		var text = document.getElementById("update_notice_text").value;
		var no = document.getElementById("update_notice_no").value;
		
		if(!title) {alert("제목을 입력해주세요."); return false;}
		if(!text) {alert("내용을 입력해주세요."); return false;}
		
		dynamicSrc("func=update_notice&title="+title+"&text="+text+"&no="+no);
	}
	
	function delete_notice(no){
		if(confirm("삭제하시겠습니까?")){
			dynamicSrc("func=delete_notice&no="+no);
		}
	}
	
</script>
<div id="modalBG" style="display:none; opacity:0.00; background-image:url('./images/bg_sidemenu_content.png'); position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:998;"></div>

<div id="insertNoticeModal" style="display:none; opacity:0.00; position:fixed; top:50%; left:50%; width:400px; height:300px; margin-left:-200px; margin-top:-150px; #000000; z-index:999;">
	<table cellpadding="0" cellspacing="0"  style="width:100%; height:100%;">
		<tr>
			<td style="height:40px; background-color:<?=$uiColor1?>; border-radius:10px 10px 0px 0px; box-shadow: 1px 1px 3px #000000;">
				<table style="width:100%;">
					<tr>
						<td style="width:20%;">
						</td>
						<td style="width:60%; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold;">
						공지사항 등록하기
						</td>
						<td style="width:20%; text-align:right; color:#FFFFFF; font-size:20px; font-weight:bold;">
							<span onclick="showInsertNotice('hide');" style="cursor:pointer;">ⓧ&nbsp;</span>
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
		<tr>
			<td style="background-color:#FFFFFF;  border-radius: 0px 0px 10px 10px;box-shadow: 1px 1px 3px #000000; padding:10px;">
				<table cellspacing="10" style="width:100%;">
					<tr>
						<td style="width:20%; text-align:left; font-size:14px;">
						제목 : 
						</td>
						<td style="text-align:center;">
							<input id="insert_notice_title" type="text" class="input_default" style="width:90%; height:40px;border-color:<?=$uiColor1?>;" placeholder="제목">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						내용 : 
						</td>
						<td style="text-align:center;">
							<textarea id="insert_notice_text" type="text" class="input_default" style="width:90%; height:100px;border-color:<?=$uiColor1?>;" placeholder="내용">
							</textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:center;">
							<input type="button" class="bt_default" style=" width:130px; height:40px; background-color:<?=$uiColor1?>;" onclick="insert_notice();" value="등록하기">
						</td>
					</tr>
				</table>
					
			</td>
		</tr>
	</table>
</div>

<div id="updateNoticeModal" style="display:none; opacity:0.00; position:fixed; top:50%; left:50%; width:400px; height:300px; margin-left:-200px; margin-top:-150px; #000000; z-index:999;">
	<input type="hidden" id="update_notice_no">
	<table cellpadding="0" cellspacing="0"  style="width:100%; height:100%;">
		<tr>
			<td style="height:40px; background-color:<?=$uiColor1?>; border-radius:10px 10px 0px 0px; box-shadow: 1px 1px 3px #000000;">
				<table style="width:100%;">
					<tr>
						<td style="width:20%;">
						</td>
						<td style="width:60%; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold;">
						공지사항 수정하기
						</td>
						<td style="width:20%; text-align:right; color:#FFFFFF; font-size:20px; font-weight:bold;">
							<span onclick="showUpdateNotice('hide');" style="cursor:pointer;">ⓧ&nbsp;</span>
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
		<tr>
			<td style="background-color:#FFFFFF;  border-radius: 0px 0px 10px 10px;box-shadow: 1px 1px 3px #000000; padding:10px;">
				<table cellspacing="10" style="width:100%;">
					<tr>
						<td style="width:20%; text-align:left; font-size:14px;">
						제목 : 
						</td>
						<td style="text-align:center;">
							<input id="update_notice_title" type="text" class="input_default" style="width:90%; height:40px;border-color:<?=$uiColor1?>;" placeholder="제목">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						내용 : 
						</td>
						<td style="text-align:center;">
							<textarea id="update_notice_text" type="text" class="input_default" style="width:90%; height:100px;border-color:<?=$uiColor1?>;" placeholder="내용">
							</textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:center;">
							<input type="button" class="bt_default" style=" width:130px; height:40px; background-color:<?=$uiColor1?>;" onclick="update_notice();" value="등록하기">
						</td>
					</tr>
				</table>
					
			</td>
		</tr>
	</table>
</div>