<div style="height:100%; width:100%; background-color:<?=$bgColor?>;">
	<?
		include "pages/menu.html";
	?>
	<table style="width:100%;">
		<tr>
			<td style="width:80%; padding:10px; vertical-align:top;">
				<table class="box_soft" style="width:100%; padding:0px;">
					<tr>
						<td class="box_soft_title">
							사용자별 적립 내역
						</td>
					</tr>
					<tr>
						<td class="table_control">
							사용자 이메일 : <input id="userEmail" type="text" class="table_input" value="" style="width:200px;">
						</td>
					</tr>
					<tr>
						<td class="table_control" style="text-align:center;">
							<input type="button" class="table_button" value="조회" onclick="location.replace('?loc=<?=$loc?>&page=<?=$page?>&userEmail='+document.getElementById('userEmail').value);"> 
						</td>
					</tr>
					<tr>
						<td style="padding:10px;">
							<table cellpadding="5" cellspacing="1" style="width:100%; background-color:#6e8f9e;">
								<tr>
									<td class="table_title">
										발생시간
									</td>
									<td class="table_title">
										입/출
									</td>
									<td class="table_title">
										메모
									</td>
									<td class="table_title">
										포인트
									</td>
									<td class="table_title">
										잔액
									</td>
								</tr>
								<?
									$userEmail = $_REQUEST["userEmail"];
									if(!$userEmail){
								?>
										<tr style="background-color:#fafafa;">
											<td colspan="10" class="table_line2">
												이메일을 조회해 주세요.
											</td>
										</tr>
								<?
									}
									else{
										echo "<script>document.getElementById('userEmail').value = '$userEmail';</script>";
										$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
										mysql_select_db($db,$con) or die("db selection failed");
										mysql_query("set names utf8");
										
										$query3 = mysql_query("SELECT event_time, state, memo, point, balance FROM ".$tableHeader."_history_point WHERE userno = (SELECT no FROM ".$tableHeader."_userlist WHERE email = '$userEmail');");
									
										$lineType = "table_line2";
										
										while($row3 = mysql_fetch_array($query3)){
										
											if($lineType == "table_line2") $lineType = "table_line1";
											else $lineType = "table_line2";
								?>
											<tr>
												<td class="<?=$lineType?>">
													<?=$row3["event_time"]?>
												</td>
												<td class="<?=$lineType?>">
													<?
														if($row3["state"] == 1) echo "입금";
														else echo "출금";
													?>
												</td>
												<td class="<?=$lineType?>">
													<?=$row3["memo"]?>
												</td>
												<td class="<?=$lineType?>">
													<?=number_format($row3["point"])?>
												</td>
												<td class="<?=$lineType?>">
													<?=number_format($row3["balance"])?>
												</td>
											</tr>
								
								<?
										}
									}
								?>
							</table>
						</td>
					</tr>
					
				</table>
			</td>
			<td class="box_soft_guide" style="width:20%;">
				<b>· 조회방법</b>
				<br>
				사용자아이디(이메일)를 입력하고 조회를 누르세요.
			</td>
		</tr>
	</table>
</div>

<!--



-->