<div style="height:100%; width:100%; background-color:<?=$bgColor?>;">
	<?
		include "pages/menu.html";
	?>
	<table style="width:100%;">
		<tr>
			<td style="width:80%; padding:10px; vertical-align:top;">
				<table class="box_soft" style="width:100%; padding:0px;">
					<tr>
						<td class="box_soft_title">
							기간별 적립포인트
						</td>
					</tr>
					<tr>
						<td class="table_control">
							조회단위 : <input type="radio"> 일별 &nbsp;&nbsp;&nbsp; <input type="radio"> 월별
							<br><br>
							조회기간 : <input type="text" class="table_input" value="2015-04-31" style="width:150px;">
							&nbsp;
							~
							&nbsp;
							<input type="text" class="table_input" value="2015-11-17" style="width:150px;"> 
						</td>
					</tr>
					<tr>
						<td class="table_control" style="text-align:center;">
							<input type="button" class="table_button" value="조회"> 
						</td>
					</tr>
					<tr>
						<td style="padding:10px;">
							<table cellpadding="5" cellspacing="1" style="width:100%; background-color:#6e8f9e;">
								<tr>
									<td class="table_title">
										일/월
									</td>
									<td class="table_title">
										광고소진수
									</td>
									<td class="table_title">
										광고적립 포인트
									</td>
									<td class="table_title">
										기타 포인트
									</td>
									<td class="table_title">
										총 포인트
									</td>
									<td class="table_title">
										사용된 포인트
									</td>
								</tr>
								<tr style="background-color:#fafafa;">
									<td class="table_line1">
										일/월
									</td>
									<td class="table_line1">
										광고소진수
									</td>
									<td class="table_line1">
										광고적립 포인트
									</td>
									<td class="table_line1">
										기타 포인트
									</td>
									<td class="table_line1">
										총 포인트
									</td>
									<td class="table_line1">
										사용된 포인트
									</td>
								</tr>
								<tr style="background-color:#ffffff;">
									<td class="table_line2">
										일/월
									</td>
									<td class="table_line2">
										광고소진수
									</td>
									<td class="table_line2">
										광고적립 포인트
									</td>
									<td class="table_line2">
										기타 포인트
									</td>
									<td class="table_line2">
										총 포인트
									</td>
									<td class="table_line2">
										사용된 포인트
									</td>
								</tr>
							</table>
						</td>
					</tr>
					
				</table>
			</td>
			<td class="box_soft_guide" style="width:20%;">
				<b>· 조회방법</b>
				<br>
				조회 기간을 선택하고 조회를 누르세요.
				<br><br><br>
				<b>· 항목설명</b>
				<br>
				<b>광고소진수</b> : 광고적립이 완료된 횟수
				<br><br>
				<b>광고 적립 포인트</b> : 광고적립으로 적립된 포인트 (실수익)
				<br><br>
				<b>기타포인트</b> : 광고적립이 아닌, 회원가입, 추천인, 추천인 적립등의 기타 포인트로 적립된 포인트
			</td>
		</tr>
	</table>
</div>

<!--



-->