<div style="height:100%; width:100%; background-color:<?=$bgColor?>;">
	<?
		include "pages/menu.html";
	?>
	<table style="width:100%;">
		<tr>
			<td style="width:80%; padding:10px; vertical-align:top;">
				<table class="box_soft" style="width:100%; padding:0px;">
					<tr>
						<td class="box_soft_title">
							<table style="width:100%;">
								<tr>
									<td style="text-align:left; color:#000000; font-size:14px; ">
										상품 관리
									</td>
									<td style="text-align:right;">
										<input type="button" class="table_button" value="상품 추가하기" onclick="showInsertProduct('show');"> 
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding:10px;">
							<table cellpadding="5" cellspacing="1" style="width:100%; background-color:#6e8f9e;">
								<tr>
									<td class="table_title">
										상품타입
									</td>
									<td class="table_title">
										카테고리
									</td>
									<td class="table_title">
										아이콘
									</td>
									<td class="table_title">
										상품명
									</td>
									<td class="table_title">
										소개메세지
									</td>
									<td class="table_title">
										사용법
									</td>
									<td class="table_title">
										가격
									</td>
									<td class="table_title">
										사용여부
									</td>
									<td class="table_title">
										수정
									</td>
								</tr>
								<?
								
									$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
									mysql_select_db($db,$con) or die("db selection failed");
									mysql_query("set names utf8");
									
									$query = mysql_query("SELECT a.no, a.type, a.category, b.name AS categoryName, a.icon, a.name, a.description, a.instruction, a.price, a.activate FROM ".$tableHeader."_product_list a LEFT JOIN ".$tableHeader."_product_category b ON a.category = b.no ;");
									
									$lineType = "table_line2";
									
									while($row = mysql_fetch_array($query)){
									
										if($lineType == "table_line2") $lineType = "table_line1";
										else $lineType = "table_line2";
										
								?>
										<tr>
											<td class="<?=$lineType?>">
												<?
													if($row["type"] == 1) echo "계좌이체형";
													else if($row["type"] == 2) echo "PIN번호형";
													else echo "바코드형";
												?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["categoryName"]?>
											</td>
											<td class="<?=$lineType?>">
												<img src="../data/product_icon/<?=$row["icon"]?>" style="width:64px; height:64px;">
												
											</td>
											<td class="<?=$lineType?>">
												<?=$row["name"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["description"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["instruction"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=number_format($row["price"])?>
											</td>
											<td class="<?=$lineType?>">
												<?
													if($row["activate"] == 1) echo "사용";
													else echo "사용안함";
												?>
											</td>
											<td class="<?=$lineType?>">
												<input type="button" class="table_button" value="수정" onclick="showUpdateProduct('show', '<?=$row["no"]?>', '<?=$row["type"]?>', '<?=$row["category"]?>', '<?=$row["icon"]?>', '<?=$row["name"]?>', '<?=$row["description"]?>', '<?=$row["instruction"]?>', '<?=$row["price"]?>', '<?=$row["activate"]?>');"> 
											</td>
										</tr>
								<?
									}
								?>
							</table>
						</td>
					</tr>
					
				</table>
			</td>
			<td class="box_soft_guide" style="width:20%;">
				<b>· 추가방법</b>
				<br>
				상품 추가하기 버튼을 누르세요.
				<br><br><br>
				<b>· 제거방법</b>
				<br>
				사용안함 버튼을 누르세요.
				<br>
				데이터 유지를 위해 삭제는 불가하며, 사용안함 처리가 가능합니다.
				<br><br><br>
				<b>· 항목설명</b>
				<br>
				<b>아이콘</b> : 앱 내에서 상품소개에 보여질 이미지.
				<br><br>
				<b>소개 메시지</b> : 앱 내에서 상품소개에 보여질 텍스트.
				<br><br>
				<b>사용법</b> : 사용자들에게 표시할 사용방법
				<br>
				ex) CU편의점에서 바코드를 스캔하세요.
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">

	function showInsertProduct(state){
		switch (state){
			case "show":
			
				//입력폼 초기화
				document.getElementById("insert_product_icon").value = "";
				document.getElementById("insert_product_name").value = "";
				document.getElementById("insert_product_description").value = "";
				document.getElementById("insert_product_instruction").value = "";
				document.getElementById("insert_product_point").value = "";
				
				document.getElementById("modalBG").style.display = "block";
				document.getElementById("insertProductModal").style.display = "block";
				$("#modalBG").animate({opacity:"1.00"}, 200);
				$("#insertProductModal").animate({opacity:"1.00"}, 200);
			break;
			
			case "hide":
				$("#modalBG").animate({opacity:"0.00"}, 200);
				$("#insertProductModal").animate({opacity:"0.00"}, 200);
				setTimeout(function(){
					document.getElementById("modalBG").style.display = "none";
					document.getElementById("insertProductModal").style.display = "none";
				}, 200);
			break;
		}
	}
	
	function showUpdateProduct(state, no, type, category, icon, name, description, instruction, price, activate){
		switch (state){
			case "show":
			
				//입력폼 초기화
				
				document.getElementById("update_product_no").value = no;
				document.getElementById("update_product_type").value = type;
				document.getElementById("update_product_category").value = category;
				document.getElementById("update_product_name").value = name;
				document.getElementById("update_product_description").value = description;
				document.getElementById("update_product_instruction").value = instruction;
				document.getElementById("update_product_point").value = price;
				document.getElementById("update_product_activate").value = activate;
				document.getElementById("update_product_icon_preview").src = "../data/product_icon/"+icon;
				
				document.getElementById("modalBG").style.display = "block";
				document.getElementById("updateProductModal").style.display = "block";
				$("#modalBG").animate({opacity:"1.00"}, 200);
				$("#updateProductModal").animate({opacity:"1.00"}, 200);
			break;
			
			case "hide":
				updateProductNo = 0;
				$("#modalBG").animate({opacity:"0.00"}, 200);
				$("#updateProductModal").animate({opacity:"0.00"}, 200);
				setTimeout(function(){
					document.getElementById("modalBG").style.display = "none";
					document.getElementById("updateProductModal").style.display = "none";
				}, 200);
			break;
		}
	}
	
	function changeUpdateProductIcon(check){
		if(check){
			document.getElementById("update_product_icon").value = "";
			document.getElementById("update_product_icon").style.display = "block";
		}
		else{
			document.getElementById("update_product_icon").value = "";
			document.getElementById("update_product_icon").style.display = "none";
		}
	}
	
	function insert_product(){
		var icon = document.getElementById("insert_product_icon").value;
		var name = document.getElementById("insert_product_name").value;
		var description = document.getElementById("insert_product_description").value;
		var instruction = document.getElementById("insert_product_instruction").value;
		var point = document.getElementById("insert_product_point").value;
		
		if(!icon)  {alert("아이콘을 선택해주세요."); return false;}
		if(!name)  {alert("상품명을 입력해주세요."); return false;}
		if(!description)  {alert("소개메세지를 입력해주세요."); return false;}
		if(!instruction)  {alert("사용법을 입력해주세요."); return false;}
		if(!point)  {alert("가격을 입력해주세요."); return false;}
		
		document.getElementById("insertProductForm").submit();
	}
	
	function update_product(){
		var name = document.getElementById("update_product_name").value;
		var description = document.getElementById("update_product_description").value;
		var instruction = document.getElementById("update_product_instruction").value;
		var point = document.getElementById("update_product_point").value;
		
		if(!name)  {alert("상품명을 입력해주세요."); return false;}
		if(!description)  {alert("소개메세지를 입력해주세요."); return false;}
		if(!instruction)  {alert("사용법을 입력해주세요."); return false;}
		if(!point)  {alert("가격을 입력해주세요."); return false;}
		
		document.getElementById("updateProductForm").submit();
	}
	
	
</script>
<div id="modalBG" style="display:none; opacity:0.00; background-image:url('./images/bg_sidemenu_content.png'); position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:998;"></div>

<div id="insertProductModal" style="display:none; opacity:0.00; position:fixed; top:50%; left:50%; width:400px; height:450px; margin-left:-200px; margin-top:-225px; #000000; z-index:999;">
	<form id="insertProductForm" name="insertProductForm" method="post" action="func/insert_product.php?loc=<?=$loc?>&page=<?=$page?>" enctype="multipart/form-data">
	<table cellpadding="0" cellspacing="0"  style="width:100%; height:100%;">
		<tr>
			<td style="height:40px; background-color:<?=$uiColor1?>; border-radius:10px 10px 0px 0px; box-shadow: 1px 1px 3px #000000;">
				<table style="width:100%;">
					<tr>
						<td style="width:20%;">
						</td>
						<td style="width:60%; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold;">
						상품 입력
						</td>
						<td style="width:20%; text-align:right; color:#FFFFFF; font-size:20px; font-weight:bold;">
							<span onclick="showInsertProduct('hide');" style="cursor:pointer;">ⓧ&nbsp;</span>
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
		<tr>
			<td style="background-color:#FFFFFF;  border-radius: 0px 0px 10px 10px;box-shadow: 1px 1px 3px #000000; padding:10px;">
				<table cellspacing="10" style="width:100%;">
					<tr>
						<td style="width:30%; text-align:left; font-size:14px;">
						상품타입 : 
						</td>
						<td style="text-align:center;">
							<select id="insert_product_type" name="insert_product_type" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;">
								<option value="1">계좌이체형</option>
								<option value="2">PIN번호형</option>
								<option value="3">바코드형</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						카테고리 : 
						</td>
						<td style="text-align:center;">
							<select id="insert_product_category" name="insert_product_category" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;">
							
								<?
									$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
									mysql_select_db($db,$con) or die("db selection failed");
									mysql_query("set names utf8");
									
									$query1 = mysql_query("SELECT no, name FROM ".$tableHeader."_product_category WHERE activate = 1 ORDER BY sort ASC ;");
									
									$lineType = "table_line2";
									
									while($row1 = mysql_fetch_array($query1)){
								?>
										<option value="<?=$row1["no"]?>"><?=$row1["name"]?></option>
								<?
									}
								?>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						아이콘 : 
						</td>
						<td style="text-align:center;">
							<input id="insert_product_icon" name="insert_product_icon" type="file" style="width:90%;">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						상품명 : 
						</td>
						<td style="text-align:center;;">
							<input id="insert_product_name" name="insert_product_name" type="test" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;" placeholder="상품명">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						소개메세지 : 
						</td>
						<td style="text-align:center;;">
							<input id="insert_product_description" name="insert_product_description" type="test" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;" placeholder="소개메시지">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						사용방법 : 
						</td>
						<td style="text-align:center;;">
							<input id="insert_product_instruction" name="insert_product_instruction" type="test" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;" placeholder="사용방법">
						</td>
					</tr>
					
					<tr>
						<td style="text-align:left; font-size:14px;">
						가격(숫자만) : 
						</td>
						<td style="text-align:center;;">
							<input id="insert_product_point" name="insert_product_point" type="test" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;" placeholder="가격(숫자만)">
						</td>
					</tr>
					<tr>
						<td style="width:30%; text-align:left; font-size:14px;">
						사용여부 : 
						</td>
						<td style="text-align:center;">
							<select id="insert_product_activate" name="insert_product_activate" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;">
								<option value="1">사용</option>
								<option value="0">사용안함</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:center;">
							<input type="button" class="bt_default" style=" width:130px; height:40px; background-color:<?=$uiColor1?>;" onclick="insert_product();" value="추가하기">
						</td>
					</tr>
				</table>
					
			</td>
		</tr>
	</table>
	</form>
</div>

<div id="updateProductModal" style="display:none; opacity:0.00; position:fixed; top:50%; left:50%; width:400px; height:450px; margin-left:-200px; margin-top:-225px; #000000; z-index:999;">
	<form id="updateProductForm" name="updateProductForm" method="post" action="func/update_product.php?loc=<?=$loc?>&page=<?=$page?>" enctype="multipart/form-data">
	<input id="update_product_no" name="update_product_no" type="hidden">
	<table cellpadding="0" cellspacing="0"  style="width:100%; height:100%;">
		<tr>
			<td style="height:40px; background-color:<?=$uiColor1?>; border-radius:10px 10px 0px 0px; box-shadow: 1px 1px 3px #000000;">
				<table style="width:100%;">
					<tr>
						<td style="width:20%;">
						</td>
						<td style="width:60%; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold;">
						상품 정보 수정
						</td>
						<td style="width:20%; text-align:right; color:#FFFFFF; font-size:20px; font-weight:bold;">
							<span onclick="showUpdateProduct('hide');" style="cursor:pointer;">ⓧ&nbsp;</span>
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
		<tr>
			<td style="background-color:#FFFFFF;  border-radius: 0px 0px 10px 10px;box-shadow: 1px 1px 3px #000000; padding:10px;">
				<table cellspacing="10" style="width:100%;">
					<tr>
						<td style="width:30%; text-align:left; font-size:14px;">
						상품타입 : 
						</td>
						<td style="text-align:center;">
							<select id="update_product_type" name="update_product_type" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;">
								<option value="1">계좌이체형</option>
								<option value="2">PIN번호형</option>
								<option value="3">바코드형</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						카테고리 : 
						</td>
						<td style="text-align:center;">
							<select id="update_product_category" name="update_product_category" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;">
							
								<?
									$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
									mysql_select_db($db,$con) or die("db selection failed");
									mysql_query("set names utf8");
									
									$query1 = mysql_query("SELECT no, name FROM ".$tableHeader."_product_category WHERE activate = 1 ORDER BY sort ASC ;");
									
									$lineType = "table_line2";
									
									while($row1 = mysql_fetch_array($query1)){
								?>
										<option value="<?=$row1["no"]?>"><?=$row1["name"]?></option>
								<?
									}
								?>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						아이콘 : 
						</td>
						<td style="text-align:center;">
							<img id="update_product_icon_preview" src="" style="width:64px; height:64px;">&nbsp;&nbsp;&nbsp;<input type="checkbox" onclick="changeUpdateProductIcon(this.checked)">변경하기
							<br>
							<input id="update_product_icon" name="update_product_icon" type="file" style="width:90%; display:none;">
							
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						상품명 : 
						</td>
						<td style="text-align:center;;">
							<input id="update_product_name" name="update_product_name" type="test" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;" placeholder="상품명">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						소개메세지 : 
						</td>
						<td style="text-align:center;;">
							<input id="update_product_description" name="update_product_description" type="test" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;" placeholder="소개메시지">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						사용방법 : 
						</td>
						<td style="text-align:center;;">
							<input id="update_product_instruction" name="update_product_instruction" type="test" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;" placeholder="사용방법">
						</td>
					</tr>
					
					<tr>
						<td style="text-align:left; font-size:14px;">
						가격(숫자만) : 
						</td>
						<td style="text-align:center;;">
							<input id="update_product_point" name="update_product_point" type="test" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;" placeholder="가격(숫자만)">
						</td>
					</tr>
					<tr>
						<td style="width:30%; text-align:left; font-size:14px;">
						사용여부 : 
						</td>
						<td style="text-align:center;">
							<select id="update_product_activate" name="update_product_activate" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;">
								<option value="1">사용</option>
								<option value="0">사용안함</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:center;">
							<input type="button" class="bt_default" style=" width:130px; height:40px; background-color:<?=$uiColor1?>;" onclick="update_product();" value="수정하기">
						</td>
					</tr>
				</table>
					
			</td>
		</tr>
	</table>
	</form>
</div>