<div style="height:100%; width:100%; background-color:<?=$bgColor?>;">
	<?
		include "pages/menu.html";
	?>
	<table style="width:100%;">
		<tr>
			<td style="width:80%; padding:10px; vertical-align:top;">
				<table class="box_soft" style="width:100%; padding:0px;">
					<tr>
						<td class="box_soft_title">
							<table style="width:100%;">
								<tr>
									<td style="text-align:left; color:#000000; font-size:14px; ">
										카테고리 관리
									</td>
									<td style="text-align:right;">
										<input type="button" class="table_button" value="카테고리 추가하기" onclick="showInsertCategory('show');"> 
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding:10px;">
							<table cellpadding="5" cellspacing="1" style="width:100%; background-color:#6e8f9e;">
								<tr>
									<td class="table_title">
										카테고리명
									</td>
									<td class="table_title">
										정렬
									</td>
									<td class="table_title">
										사용여부
									</td>
									<td class="table_title">
										수정
									</td>
								</tr>
								<?
								
									$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
									mysql_select_db($db,$con) or die("db selection failed");
									mysql_query("set names utf8");
									
									$query = mysql_query("SELECT no, name, sort, activate FROM ".$tableHeader."_product_category;");
									
									$lineType = "table_line2";
									
									while($row = mysql_fetch_array($query)){
									
										if($lineType == "table_line2") $lineType = "table_line1";
										else $lineType = "table_line2";
										
								?>
										<tr style="background-color:#fafafa;">
											<td class="<?=$lineType?>">
												<?=$row["name"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["sort"]?>
											</td>
											<td class="<?=$lineType?>">
												<?
													if($row["activate"] == 1) echo "사용";
													else echo "사용안함";
												?>
											</td>
											<td class="<?=$lineType?>">
												<input type="button" class="table_button" value="수정" onclick="showUpdateCategory('show', <?=$row["no"]?>, '<?=$row["name"]?>', <?=$row["sort"]?>, <?=$row["activate"]?>);"> 
											</td>
										</tr>
								<?
									}
								?>
							</table>
						</td>
					</tr>
					
				</table>
			</td>
			<td class="box_soft_guide" style="width:20%;">
				<b>· 추가방법</b>
				<br>
				카테고리 추가하기 버튼을 누르세요.
				<br><br><br>
				<b>· 제거방법</b>
				<br>
				수정버튼을 클릭후 사용여부를 사용안함으로 설정하세요.
				<br>
				데이터 유지를 위해 삭제는 불가하며, 사용안함 처리가 가능합니다.
				<br><br><br>
				<b>· 항목설명</b>
				<br>
				<b>정렬</b> : 앱 내에서 해당번호 오름차순으로 표시됩니다.
			</td>
		</tr>
	</table>
</div>


<script type="text/javascript">

	function showInsertCategory(state){
		switch (state){
			case "show":
			
				//입력폼 초기화
				document.getElementById("insert_category_name").value = "";
				document.getElementById("insert_category_sort").value = "";
				
				document.getElementById("modalBG").style.display = "block";
				document.getElementById("insertCategoryModal").style.display = "block";
				$("#modalBG").animate({opacity:"1.00"}, 200);
				$("#insertCategoryModal").animate({opacity:"1.00"}, 200);
			break;
			
			case "hide":
				$("#modalBG").animate({opacity:"0.00"}, 200);
				$("#insertCategoryModal").animate({opacity:"0.00"}, 200);
				setTimeout(function(){
					document.getElementById("modalBG").style.display = "none";
					document.getElementById("insertCategoryModal").style.display = "none";
				}, 200);
			break;
		}
	}
	
	function insert_category(){
		var name = document.getElementById("insert_category_name").value;
		var sort = document.getElementById("insert_category_sort").value;
		var activate = document.getElementById("insert_category_activate").value;
		
		if(!name) {alert("카테고리명을 입력해주세요."); return false;}
		if(!sort) {alert("정렬을 입력해주세요."); return false;}
		
		dynamicSrc("func=insert_category&name="+name+"&sort="+sort+"&activate="+activate);
	}
	
	
	function showUpdateCategory(state, no, name, sort, activate){
		switch (state){
			case "show":
				//입력폼 초기화
				
				document.getElementById("update_category_no").value = no;
				document.getElementById("update_category_name").value = name;
				document.getElementById("update_category_sort").value = sort;
				document.getElementById("update_category_activate").value = activate;
				
				document.getElementById("modalBG").style.display = "block";
				document.getElementById("updateCategoryModal").style.display = "block";
				$("#modalBG").animate({opacity:"1.00"}, 200);
				$("#updateCategoryModal").animate({opacity:"1.00"}, 200);
			break;
			
			case "hide":
				$("#modalBG").animate({opacity:"0.00"}, 200);
				$("#updateCategoryModal").animate({opacity:"0.00"}, 200);
				setTimeout(function(){
					document.getElementById("modalBG").style.display = "none";
					document.getElementById("updateCategoryModal").style.display = "none";
				}, 200);
			break;
		}
	}
	
	function update_category(){
		var name = document.getElementById("update_category_name").value;
		var sort = document.getElementById("update_category_sort").value;
		var activate = document.getElementById("update_category_activate").value;
		var no = document.getElementById("update_category_no").value;
		
		if(!name) {alert("카테고리명을 입력해주세요."); return false;}
		if(!sort) {alert("정렬을 입력해주세요."); return false;}
		
		dynamicSrc("func=update_category&name="+name+"&sort="+sort+"&activate="+activate+"&no="+no);
	}
	
</script>
<div id="modalBG" style="display:none; opacity:0.00; background-image:url('./images/bg_sidemenu_content.png'); position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:998;"></div>

<div id="insertCategoryModal" style="display:none; opacity:0.00; position:fixed; top:50%; left:50%; width:360px; height:200px; margin-left:-180px; margin-top:-100px; #000000; z-index:999;">
	<table cellpadding="0" cellspacing="0"  style="width:100%; height:100%;">
		<tr>
			<td style="height:40px; background-color:<?=$uiColor1?>; border-radius:10px 10px 0px 0px; box-shadow: 1px 1px 3px #000000;">
				<table style="width:100%;">
					<tr>
						<td style="width:20%;">
						</td>
						<td style="width:60%; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold;">
						카테고리 입력
						</td>
						<td style="width:20%; text-align:right; color:#FFFFFF; font-size:20px; font-weight:bold;">
							<span onclick="showInsertCategory('hide');" style="cursor:pointer;">ⓧ&nbsp;</span>
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
		<tr>
			<td style="background-color:#FFFFFF;  border-radius: 0px 0px 10px 10px;box-shadow: 1px 1px 3px #000000; padding:10px;">
				<table cellspacing="10" style="width:100%;">
					<tr>
						<td style="width:30%; text-align:left; font-size:14px;">
						카테고리명 : 
						</td>
						<td style="text-align:center;">
							<input id="insert_category_name" type="text" class="input_default" style="width:90%; height:40px;border-color:<?=$uiColor1?>;" placeholder="카테고리명">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						정렬 : 
						</td>
						<td style="text-align:center;">
							<input id="insert_category_sort" type="text" class="input_default" style="width:90%; height:40px;border-color:<?=$uiColor1?>;" placeholder="정렬(정수만)">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						사용여부 : 
						</td>
						<td style="text-align:center;">
							<select id="insert_category_activate" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;">
								<option value="1">사용</option>
								<option value="0">사용안함</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:center;">
							<input type="button" class="bt_default" style=" width:130px; height:40px; background-color:<?=$uiColor1?>;" onclick="insert_category();" value="추가하기">
						</td>
					</tr>
				</table>
					
			</td>
		</tr>
	</table>
</div>

<div id="updateCategoryModal" style="display:none; opacity:0.00; position:fixed; top:50%; left:50%; width:360px; height:200px; margin-left:-180px; margin-top:-100px; #000000; z-index:999;">
	<input type="hidden" id="update_category_no">
	<table cellpadding="0" cellspacing="0"  style="width:100%; height:100%;">
		<tr>
			<td style="height:40px; background-color:<?=$uiColor1?>; border-radius:10px 10px 0px 0px; box-shadow: 1px 1px 3px #000000;">
				<table style="width:100%;">
					<tr>
						<td style="width:20%;">
						</td>
						<td style="width:60%; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold;">
						카테고리 정보변경
						</td>
						<td style="width:20%; text-align:right; color:#FFFFFF; font-size:20px; font-weight:bold;">
							<span onclick="showUpdateCategory('hide');" style="cursor:pointer;">ⓧ&nbsp;</span>
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
		<tr>
			<td style="background-color:#FFFFFF;  border-radius: 0px 0px 10px 10px;box-shadow: 1px 1px 3px #000000; padding:10px;">
				<table cellspacing="10" style="width:100%;">
					<tr>
						<td style="width:30%; text-align:left; font-size:14px;">
						카테고리명 : 
						</td>
						<td style="text-align:center;">
							<input id="update_category_name" type="text" class="input_default" style="width:90%; height:40px;border-color:<?=$uiColor1?>;" placeholder="카테고리명">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						정렬 : 
						</td>
						<td style="text-align:center;">
							<input id="update_category_sort" type="text" class="input_default" style="width:90%; height:40px;border-color:<?=$uiColor1?>;" placeholder="정렬(정수만)">
						</td>
					</tr>
					<tr>
						<td style="text-align:left; font-size:14px;">
						사용여부 : 
						</td>
						<td style="text-align:center;">
							<select id="update_category_activate" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;">
								<option value="1">사용</option>
								<option value="0">사용안함</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:center;">
							<input type="button" class="bt_default" style=" width:130px; height:40px; background-color:<?=$uiColor1?>;" onclick="update_category();" value="수정하기">
						</td>
					</tr>
				</table>
					
			</td>
		</tr>
	</table>
</div>