<div style="height:100%; width:100%; background-color:<?=$bgColor?>;">
	<?
		include "pages/menu.html";
	?>
	<table style="width:100%;">
		<tr>
			<td style="width:80%; padding:10px; vertical-align:top;">
				<table class="box_soft" style="width:100%; padding:0px;">
					<tr>
						<td class="box_soft_title">
							<table style="width:100%;">
								<tr>
									<td style="text-align:left; color:#000000; font-size:14px; ">
										재고관리 테이블
									</td>
									<td style="text-align:right;">
										<input type="button" class="table_button" value="재고 입력하기" onclick="showInsertStock('show');"> 
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="table_control">
							상품선택 (소진된 수량/총 수량) : 
							<select id="selectProduct" class="table_input" id="" style="width:400px;">
								<?
									$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
									mysql_select_db($db,$con) or die("db selection failed");
									mysql_query("set names utf8");
									
									$query1 = mysql_query("SELECT a.no, a.name, b.name AS categoryName  FROM ".$tableHeader."_product_list a LEFT JOIN ".$tableHeader."_product_category b ON a.category = b.no WHERE a.activate = 1 AND b.activate = 1 AND a.category != 1001 ;");
									
									while($row1 = mysql_fetch_array($query1)){
									//
									$productNo = $row1["no"];
									$row2 = mysql_fetch_array(mysql_query("SELECT (SELECT COUNT(no) FROM ".$tableHeader."_product_stock WHERE productno = $productNo AND used = 1) as used, (SELECT COUNT(no) FROM ".$tableHeader."_product_stock WHERE productno = $productNo ) as total ;"));
									
									
								?>
								<option value="<?=$productNo?>"><?=$row1["categoryName"]?> - <?=$row1["name"]?> ( <?=$row2["used"]?> / <?=$row2["total"]?> )</option>
								
								<?
									}
								?>
							</select>
						</td>
					</tr>
					<tr>
						<td class="table_control" style="text-align:center;">
							<input type="button" class="table_button" value="조회" onclick="location.replace('?loc=<?=$loc?>&page=<?=$page?>&productNo='+document.getElementById('selectProduct').value);"> 
						</td>
					</tr>
					<tr>
						<td style="padding:10px;">
							<table cellpadding="5" cellspacing="1" style="width:100%; background-color:#6e8f9e;">
								<tr>
									<td class="table_title">
										카테고리
									</td>
									<td class="table_title">
										상품명
									</td>
									<td class="table_title">
										상품내용
									</td>
									<td class="table_title">
										소진여부
									</td>
									<td class="table_title">
										구매번호
									</td>
									<td class="table_title">
										사용시간
									</td>
									<td class="table_title">
										수정
									</td>
									<td class="table_title">
										삭제
									</td>
								</tr>
								<?
									$productNo = $_REQUEST["productNo"];
									if(!$productNo){
								?>
										<tr style="background-color:#fafafa;">
											<td colspan="10" class="table_line2">
												상품을 조회해 주세요.
											</td>
										</tr>
								<?
									}
									else{
										echo "<script>document.getElementById('selectProduct').value = '$productNo';</script>";
										$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
										mysql_select_db($db,$con) or die("db selection failed");
										mysql_query("set names utf8");
										
										$query3 = mysql_query("SELECT a.no, d.categoryName, d.productName, d.productType, a.productno, a.parameter, a.used, a.used_purchaseno, a.used_time FROM ".$tableHeader."_product_stock a LEFT JOIN (SELECT b.no AS productNo, b.name AS productName, b.type AS productType, c.name AS categoryName FROM ".$tableHeader."_product_list b LEFT JOIN ".$tableHeader."_product_category c ON b.category = c.no) d ON a.productno = d.productNo WHERE a.productno = $productNo;");
									
										$lineType = "table_line2";
										
										while($row3 = mysql_fetch_array($query3)){
										
											if($lineType == "table_line2") $lineType = "table_line1";
											else $lineType = "table_line2";
								?>
											<tr style="background-color:#fafafa;">
												<td class="<?=$lineType?>">
													<?=$row3["categoryName"]?>
												</td>
												<td class="<?=$lineType?>">
													<?=$row3["productName"]?>
												</td>
												<td class="<?=$lineType?>">
													<?
														if($row3["productType"] == 2){
															echo $row3["parameter"];
														}
														else{
															$barcodeImage = $row3["parameter"];
															echo "<img src='../data/barcode/$barcodeImage' style='height:64px; width:160px;'>";
														}
													?>
												</td>
												<td class="<?=$lineType?>">
													<?
														if($row3["used"] == 1){
															echo "소진";
														}
														else{
															echo "소진안됨";
														}
													?>
												</td>
												<td class="<?=$lineType?>">
													<?=$row3["used_purchaseno"]?>
												</td>
												<td class="<?=$lineType?>">
													<?=$row3["used_time"]?>
												</td>
												<td class="<?=$lineType?>">
													<input type="button" class="table_button" value="수정" onclick="showUpdateStock('show', <?=$row3["no"]?>, '<?=$row3["parameter"]?>', <?=$row3["productType"]?>);"> 
												</td>
												<td class="<?=$lineType?>">
													<input type="button" class="table_button" value="삭제" onclick="delete_stock(<?=$row3["no"]?>);"> 
												</td>
											</tr>
								
								<?
										}
									}
								?>
								
							</table>
						</td>
					</tr>
					
				</table>
			</td>
			<td class="box_soft_guide" style="width:20%;">
				<b>· 추가방법</b>
				<br>
				재고 추가하기 버튼을 누르세요.
				<br><br><br>
				<b>· 항목설명</b>
				<br>
				상품내용 : 바코드타입인 경우, 전달된 바코드 이미지.
				pin번호 타입인경우, pin번호 입력
			</td>
		</tr>
	</table>
</div>


<script type="text/javascript">

	function showInsertStock(state){
		switch (state){
			case "show":
				
				//입력폼 초기화
				dynamicSrc('func=checkInsertStockProductType&productNo='+document.getElementById('insert_stock_product').value);
				
				document.getElementById("modalBG").style.display = "block";
				document.getElementById("insertStockModal").style.display = "block";
				$("#modalBG").animate({opacity:"1.00"}, 200);
				$("#insertStockModal").animate({opacity:"1.00"}, 200);
			break;
			
			case "hide":
				$("#modalBG").animate({opacity:"0.00"}, 200);
				$("#insertStockModal").animate({opacity:"0.00"}, 200);
				setTimeout(function(){
					document.getElementById("modalBG").style.display = "none";
					document.getElementById("insertStockModal").style.display = "none";
				}, 200);
			break;
		}
	}
	
	function showUpdateStock(state, no, parameter, type){
		switch (state){
			case "show":
				document.getElementById('update_stock_no').value = no;
				//입력폼 초기화
				if(type == 2){
					//pin형식
					document.getElementById('update_stock_content_name').innerHTML = 'PIN번호 :';
					document.getElementById('update_stock_content').innerHTML = "<input id='update_stock_pin' name='update_stock_pin' type='test' class='input_default' style='width:90%; height:40px;  border-color:<?=$uiColor1?>;' placeholder='PIN번호'>";
								
					document.getElementById('update_stock_pin').value = parameter;
				}
				else{
					//바코드형식
					document.getElementById('update_stock_content_name').innerHTML = '바코드이미지 :';
					document.getElementById('update_stock_content').innerHTML = "<img id='update_stock_barcode_preview' src='' style='width:160px; height:64px;'>&nbsp;&nbsp;&nbsp;<input type='checkbox' onclick='changeUpdateStockBarcode(this.checked)'>변경하기<br><input id='update_stock_barcode' name='update_stock_barcode' type='file' style='width:90%; display:none;'>";
					
					document.getElementById('update_stock_barcode_preview').src = '../data/barcode/'+parameter;
					
				}
			
				document.getElementById("modalBG").style.display = "block";
				document.getElementById("updateStockModal").style.display = "block";
				$("#modalBG").animate({opacity:"1.00"}, 200);
				$("#updateStockModal").animate({opacity:"1.00"}, 200);
			break;
			
			case "hide":
				$("#modalBG").animate({opacity:"0.00"}, 200);
				$("#updateStockModal").animate({opacity:"0.00"}, 200);
				setTimeout(function(){
					document.getElementById("modalBG").style.display = "none";
					document.getElementById("updateStockModal").style.display = "none";
				}, 200);
			break;
		}
	}
	
	function changeUpdateStockBarcode(check){
		if(check){
			document.getElementById("update_stock_barcode").value = "";
			document.getElementById("update_stock_barcode").style.display = "block";
		}
		else{
			document.getElementById("update_stock_barcode").value = "";
			document.getElementById("update_stock_barcode").style.display = "none";
		}
	}
	
	
	function insert_stock(){
		if(document.getElementById("insert_stock_pin")){
			if(!document.getElementById("insert_stock_pin").value) {alert("PIN번호를 입력해주세요."); return false;}
		}
		else{
			if(!document.getElementById("insert_stock_barcode").value) {alert("바코드이미지를 선택해주세요."); return false;}
		}
		document.getElementById("insertStockForm").submit();
	}
	
	function update_stock(){
		if(document.getElementById("update_stock_pin")){
			if(!document.getElementById("update_stock_pin").value) {alert("PIN번호를 입력해주세요."); return false;}
		}
		else{
			if(!document.getElementById("update_stock_barcode").value) {alert("바코드이미지를 선택해주세요."); return false;}
		}
		document.getElementById("updateStockForm").submit();
	}
	
	function delete_stock(no){
		if(confirm("삭제하시겠습니까?")){
			dynamicSrc("func=delete_stock&no="+no);
		}
	}
	
	
</script>
<div id="modalBG" style="display:none; opacity:0.00; background-image:url('./images/bg_sidemenu_content.png'); position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:998;"></div>

<div id="insertStockModal" style="display:none; opacity:0.00; position:fixed; top:50%; left:50%; width:400px; height:200px; margin-left:-200px; margin-top:-100px; #000000; z-index:999;">
	<form id="insertStockForm" name="insertStockForm" method="post" action="func/insert_stock.php?loc=<?=$loc?>&page=<?=$page?>" enctype="multipart/form-data">
	<table cellpadding="0" cellspacing="0"  style="width:100%; height:100%;">
		<tr>
			<td style="height:40px; background-color:<?=$uiColor1?>; border-radius:10px 10px 0px 0px; box-shadow: 1px 1px 3px #000000;">
				<table style="width:100%;">
					<tr>
						<td style="width:20%;">
						</td>
						<td style="width:60%; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold;">
						재고 입력하기
						</td>
						<td style="width:20%; text-align:right; color:#FFFFFF; font-size:20px; font-weight:bold;">
							<span onclick="showInsertStock('hide');" style="cursor:pointer;">ⓧ&nbsp;</span>
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
		<tr>
			<td style="background-color:#FFFFFF;  border-radius: 0px 0px 10px 10px;box-shadow: 1px 1px 3px #000000; padding:10px;">
				<table cellspacing="10" style="width:100%;">
					<tr>
						<td style="width:30%; text-align:left; font-size:14px;">
						상품 : 
						</td>
						<td style="text-align:center;">
							<select id="insert_stock_product" name="insert_stock_product" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;" onChange="dynamicSrc('func=checkInsertStockProductType&productNo='+document.getElementById('insert_stock_product').value);">
								<?
									$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
									mysql_select_db($db,$con) or die("db selection failed");
									mysql_query("set names utf8");
									
									$query1 = mysql_query("SELECT a.no, a.name, b.name AS categoryName  FROM ".$tableHeader."_product_list a LEFT JOIN ".$tableHeader."_product_category b ON a.category = b.no WHERE a.activate = 1 AND b.activate = 1 AND a.category != 1001 ;");
									
									while($row1 = mysql_fetch_array($query1)){
									//
									$productNoOption = $row1["no"];
									
								?>
								<option value="<?=$productNoOption?>"><?=$row1["categoryName"]?> - <?=$row1["name"]?> </option>
								
								<?
									}
								?>
							</select>
						</td>
					</tr>
					<tr>
						<td id="insert_stock_content_name" style="text-align:left; font-size:14px;">
						상품내용 : 
						</td>
						<td id="insert_stock_content" style="text-align:center;">
							
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:center;">
							<input type="button" class="bt_default" style=" width:130px; height:40px; background-color:<?=$uiColor1?>;" onclick="insert_stock();" value="입력하기">
						</td>
					</tr>
				</table>
					
			</td>
		</tr>
	</table>
	</form>
</div>


<div id="updateStockModal" style="display:none; opacity:0.00; position:fixed; top:50%; left:50%; width:400px; height:200px; margin-left:-200px; margin-top:-100px; #000000; z-index:999;">
	<form id="updateStockForm" name="updateStockForm" method="post" action="func/update_stock.php?loc=<?=$loc?>&page=<?=$page?>&productNo=<?=$productNo?>" enctype="multipart/form-data">
	<input id="update_stock_no" name="update_stock_no" type="hidden">
	<table cellpadding="0" cellspacing="0"  style="width:100%; height:100%;">
		<tr>
			<td style="height:40px; background-color:<?=$uiColor1?>; border-radius:10px 10px 0px 0px; box-shadow: 1px 1px 3px #000000;">
				<table style="width:100%;">
					<tr>
						<td style="width:20%;">
						</td>
						<td style="width:60%; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold;">
						재고 수정하기
						</td>
						<td style="width:20%; text-align:right; color:#FFFFFF; font-size:20px; font-weight:bold;">
							<span onclick="showUpdateStock('hide');" style="cursor:pointer;">ⓧ&nbsp;</span>
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
		<tr>
			<td style="background-color:#FFFFFF;  border-radius: 0px 0px 10px 10px;box-shadow: 1px 1px 3px #000000; padding:10px;">
				<table cellspacing="10" style="width:100%;">
					<tr>
						<td id="update_stock_content_name" style="width:30%; text-align:left; font-size:14px;">
						상품내용 : 
						</td>
						<td id="update_stock_content" style="text-align:center;">
							
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:center;">
							<input type="button" class="bt_default" style=" width:130px; height:40px; background-color:<?=$uiColor1?>;" onclick="update_stock();" value="수정하기">
						</td>
					</tr>
				</table>
					
			</td>
		</tr>
	</table>
	</form>
</div>
