<div style="height:100%; width:100%; background-color:<?=$bgColor?>;">
	<?
		include "pages/menu.html";
	?>
	<table style="width:100%;">
		<tr>
			<td style="width:80%; padding:10px; vertical-align:top;">
				<table class="box_soft" style="width:100%; padding:0px;">
					<tr>
						<td class="box_soft_title">
							구매 상품 테이블
						</td>
					</tr>
					<tr>
						<td style="padding:10px;">
							<table cellpadding="5" cellspacing="1" style="width:100%; background-color:#6e8f9e;">
								<tr>
									<td class="table_title">
										주문번호
									</td>
									<td class="table_title">
										구매요청일시
									</td>
									<td class="table_title">
										구매유저
									</td>
									<td class="table_title">
										처리상태
									</td>
									<td class="table_title">
										카테고리
									</td>
									<td class="table_title">
										상품명
									</td>
									<td class="table_title">
										상품타입
									</td>
									<td class="table_title">
										전달메시지
									</td>
									<td class="table_title">
										사용 포인트
									</td>
									<td class="table_title">
										비고
									</td>
									<td class="table_title">
										수정
									</td>
								</tr>
								<?
								
									$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
									mysql_select_db($db,$con) or die("db selection failed");
									mysql_query("set names utf8");
									
									$query = mysql_query("SELECT e.no, e.event_time, f.email, e.categoryName, e.productName, e.productType, e.product, e.state, e.message, e.point, e.parameter FROM (SELECT a.no, a.event_time, a.userno, d.categoryName, d.productName, d.productType, a.product, a.state, a.message, a.point, a.parameter FROM ".$tableHeader."_history_purchase a LEFT JOIN (SELECT b.no AS productNo, b.name AS productName, b.type AS productType, c.name AS categoryName FROM ".$tableHeader."_product_list b LEFT JOIN ".$tableHeader."_product_category c ON b.category = c.no) d ON a.product = d.productNo) e LEFT JOIN ".$tableHeader."_userlist f ON e.userno = f.no;");
									
									$lineType = "table_line2";
									
									while($row = mysql_fetch_array($query)){
									
										if($lineType == "table_line2") $lineType = "table_line1";
										else $lineType = "table_line2";
										
								?>
										<tr style="background-color:#fafafa;">
											<td class="<?=$lineType?>">
												<?=$row["no"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["event_time"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["email"]?>
											</td>
											<td class="<?=$lineType?>">
												<?
													if($row["state"] == 1) echo "처리대기중";
													else if($row["state"] == 2) echo "처리완료";
													else echo "거절";
												?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["categoryName"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["productName"]?>
											</td>
											<td class="<?=$lineType?>">
												<?
													if($row["productType"] == 1) echo "계좌이체형";
													else if($row["productType"] == 2) echo "PIN번호형";
													else echo "바코드형";
												?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["message"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=number_format($row["point"])?>
											</td>
											<td class="<?=$lineType?>">
											
												<?
													if($row["productType"] == 1) echo $row["parameter"];
													else if($row["productType"] == 2) {
														$stock = mysql_fetch_array(mysql_query("SELECT parameter FROM ".$tableHeader."_product_stock WHERE used_purchaseno = $row[no];"));
														$stock = $stock["parameter"];
														echo $stock;
													}
													else {
														$stock = mysql_fetch_array(mysql_query("SELECT parameter FROM ".$tableHeader."_product_stock WHERE used_purchaseno = $row[no];"));
														$stock = $stock["parameter"];
														echo "<img src='../data/barcode/$stock' style='width:160px;'>";
													}
												?>
											
												<?=$row["parameter"]?>
											</td>
											<td class="<?=$lineType?>">
												<input type="button" class="table_button" value="수정" onclick="showUpdatePurchase('show', '<?=$row["no"]?>', '<?=$row["state"]?>', '<?=$row["message"]?>');"> 
											</td>
										</tr>
								<?
									}
								?>
							</table>
						</td>
					</tr>
					
				</table>
			</td>
			<td class="box_soft_guide" style="width:20%;">
				<b>· 상태변경</b>
				<br>
				계좌이체형의 경우 처리 완료된후, 수정을 통하여 처리완료로 변경하세요.
			</td>
		</tr>
	</table>
</div>


<script type="text/javascript">

	
	function showUpdatePurchase(state, no, pstate, msg){
	
		switch (state){
			case "show":
				//입력폼 초기화
				
				document.getElementById("update_purchase_no").value = no;
				document.getElementById("update_purchase_state").value = pstate;
				document.getElementById("update_purchase_msg").value = msg;
				
				
				document.getElementById("modalBG").style.display = "block";
				document.getElementById("updatePurchaseModal").style.display = "block";
				$("#modalBG").animate({opacity:"1.00"}, 200);
				$("#updatePurchaseModal").animate({opacity:"1.00"}, 200);
			break;
			
			case "hide":
				$("#modalBG").animate({opacity:"0.00"}, 200);
				$("#updatePurchaseModal").animate({opacity:"0.00"}, 200);
				setTimeout(function(){
					document.getElementById("modalBG").style.display = "none";
					document.getElementById("updatePurchaseModal").style.display = "none";
				}, 200);
			break;
		}
	}
	
	function update_purchase(){
		var state = document.getElementById("update_purchase_state").value;
		var msg = document.getElementById("update_purchase_msg").value;
		var no = document.getElementById("update_purchase_no").value;
		
		if(!msg) {alert("메세지를 입력해주세요."); return false;}
		
		dynamicSrc("func=update_purchase&state="+state+"&msg="+msg+"&no="+no);
	}
	
</script>
<div id="modalBG" style="display:none; opacity:0.00; background-image:url('./images/bg_sidemenu_content.png'); position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:998;"></div>

<div id="updatePurchaseModal" style="display:none; opacity:0.00; position:fixed; top:50%; left:50%; width:360px; height:200px; margin-left:-180px; margin-top:-100px; #000000; z-index:999;">
	<input type="hidden" id="update_purchase_no">
	<table cellpadding="0" cellspacing="0"  style="width:100%; height:100%;">
		<tr>
			<td style="height:40px; background-color:<?=$uiColor1?>; border-radius:10px 10px 0px 0px; box-shadow: 1px 1px 3px #000000;">
				<table style="width:100%;">
					<tr>
						<td style="width:20%;">
						</td>
						<td style="width:60%; color:#FFFFFF; text-align:center; font-size:16px; font-weight:bold;">
						구매상태 수정
						</td>
						<td style="width:20%; text-align:right; color:#FFFFFF; font-size:20px; font-weight:bold;">
							<span onclick="showUpdatePurchase('hide');" style="cursor:pointer;">ⓧ&nbsp;</span>
						</td>
					</tr>
				</table>
			</td>
			
		</tr>
		<tr>
			<td style="background-color:#FFFFFF;  border-radius: 0px 0px 10px 10px;box-shadow: 1px 1px 3px #000000; padding:10px;">
				<table cellspacing="10" style="width:100%;">
					<tr>
						<td style="text-align:left; font-size:14px;">
						처리상태 : 
						</td>
						<td style="text-align:center;">
							<select id="update_purchase_state" class="input_default" style="width:90%; height:40px; border-color:<?=$uiColor1?>;">
								<option value="1">처리대기중</option>
								<option value="2">처리완료</option>
								<option value="3">거절</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="width:30%; text-align:left; font-size:14px;">
						메세지 : 
						</td>
						<td style="text-align:center;">
							<input id="update_purchase_msg" type="text" class="input_default" style="width:90%; height:40px;border-color:<?=$uiColor1?>;" placeholder="메세지">
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:center;">
							<input type="button" class="bt_default" style=" width:130px; height:40px; background-color:<?=$uiColor1?>;" onclick="update_purchase();" value="수정하기">
						</td>
					</tr>
				</table>
					
			</td>
		</tr>
	</table>
</div>