<div style="height:100%; width:100%; background-color:<?=$bgColor?>;">
	<?
		include "pages/menu.html";
		
		$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
		mysql_select_db($db,$con) or die("db selection failed");
		mysql_query("set names utf8");
		
		$setting = mysql_fetch_array(mysql_query("SELECT join_bonus, input_recommender, recommend_bonus FROM ".$tableHeader."_setting;"));
		
	?>
	<table style="width:100%;">
		<tr>
			<td style="width:80%; padding:10px; vertical-align:top;">
				<table class="box_soft" style="width:100%; padding:0px;">
					<tr>
						<td class="box_soft_title">
							앱설정
						</td>
					</tr>
					<tr>
						<td class="table_control">
							가입시 지급 포인트 : <input id="join_bonus" type="text" class="table_input" value="<?=$setting["join_bonus"]?>" style="width:150px;">
							<br><br>
							추천인 입력시 보너스 : <input id="input_recommender" type="text" class="table_input" value="<?=$setting["input_recommender"]?>" style="width:150px;">
							<br><br>
							추천인 보너스 포인트(%) : <input id="recommend_bonus" type="text" class="table_input" value="<?=$setting["recommend_bonus"]?>" style="width:150px;">
							<br><br>
						</td>
					</tr>
					<tr>
						<td class="table_control" style="text-align:center;">
							<input type="button" class="table_button" value="적용" onclick="updateSetting();"> 
						</td>
					</tr>
				</table>
			</td>
			<td class="box_soft_guide" style="width:20%;">
				<b>· 항목설명</b>
				<br>
				<b>가입시 지급 포인트</b> : 회원가입시에 지급되는 기본포인트 입니다.
				<br><br>
				<b>추천인 보너스 포인트</b> : 광고적립시에 추천인에게 추가지급될 포인트 비율입니다.
				<br><br>
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	function updateSetting(){
		var join_bonus = document.getElementById("join_bonus").value;
		var recommend_bonus = document.getElementById("recommend_bonus").value;
		var input_recommender = document.getElementById("input_recommender").value;
		
		if(!join_bonus) join_bonus = 0;
		if(!recommend_bonus) recommend_bonus = 0;
		if(!input_recommender) input_recommender = 0;
		console.log('func=updateSetting&join_bonus='+join_bonus+'&recommend_bonus='+recommend_bonus+'&input_recommender='+input_recommender);
		dynamicSrc('func=updateSetting&join_bonus='+join_bonus+'&recommend_bonus='+recommend_bonus+'&input_recommender='+input_recommender);
	}
</script>