<script type="text/javascript">
	function controlSideMenu(state){
				
		switch (state){
			case "show":
				$("#sideMenu").animate({left:"0"}, 100);
				setTimeout(function(){
					document.getElementById("sideMenuContentBG").style.display = "block";
					$("#sideMenuContentBG").animate({opacity:"1.00"}, 200);
				}, 50);
			break;
			
			case "hide":
				$("#sideMenu").animate({left:"-200"}, 100);
				$("#sideMenuContentBG").animate({opacity:"0.00"}, 200);
				setTimeout(function(){
					document.getElementById("sideMenuContentBG").style.display = "none";
				}, 200);
			break;
		}
	}
	
	function menuMouseOver(id){
		//document.getElementById(id+"_iconArea").style.backgroundColor = "<?=$uiColor3?>";
		document.getElementById(id+"_nameArea").style.backgroundColor = "<?=$uiColor3?>";
		//document.getElementById(id+"_img").src = "./images/icon_sidemenu_"+id+"_on.png";
		document.getElementById(id+"_nameArea").style.color = "<?=$uiColor1?>";
	}
	
	function menuMouseOut(id){
		//document.getElementById(id+"_iconArea").style.backgroundColor = "<?=$uiColor1?>";
		document.getElementById(id+"_nameArea").style.backgroundColor = "<?=$uiColor1?>";
		//document.getElementById(id+"_img").src = "./images/icon_sidemenu_"+id+"_off.png";
		document.getElementById(id+"_nameArea").style.color = "<?=$uiColor3?>";
	}
</script>
<div id="sideMenuContentBG" onmouseover="controlSideMenu('hide');" style="display:none; opacity:0.00; background-image:url('./images/bg_sidemenu_content.png'); position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:996;"></div>

<div id="sideMenu" onmouseover="controlSideMenu('show');" style="background-color:<?=$uiColor1?>; position:absolute; top:0px; left:-200px; width:200px; height:100%;  z-index:997;">
	<table cellpadding="0" cellspacing="0" style="height:100%; width:100%;">
		<tr style="height:80px;">
			<td colspan="2" style="width:200px; text-align:center; color:<?=$uiColor3?>; font-size:20px; font-weight:bold; cursor:pointer;" onclick="location.href='?loc=home';">
				머니코드 Admin
			</td>
		</tr>
		
		<?
			for($i = 0; $i < count($arrMenu); $i++){
				
				$menuId = $arrMenu[$i][0];
				$menuName = $arrMenu[$i][1];
				
				
				$menuIcon = "icon_sidemenu_".$menuId."_off.png";
				
				$iconAreaId = $menuId."_iconArea";
				$nameAreaId = $menuId."_nameArea";
				$imgId = $menuId."_img";
				/*
				echo("
					<tr onmouseover=\"menuMouseOver('$menuId');\" onmouseout=\"menuMouseOut('$menuId');\" onclick=\"location.href='?loc=$menuId';\" style='cursor:pointer;'>
						<td id='$iconAreaId' style='width:60px; text-align:center; vertical-align:middle;'>
							<img id='$imgId' src='./images/$menuIcon' style='height:20px;'>
						</td>
						<td id='$nameAreaId' style='height:50px; color:$uiColor3; font-size:14px; font-weight:bold; text-align:left; vertical-align:middle;'>
							 $menuName
						</td>
					</tr>
				
				");
				*/
				echo("
					<tr onmouseover=\"menuMouseOver('$menuId');\" onmouseout=\"menuMouseOut('$menuId');\" onclick=\"location.href='?loc=$menuId';\" style='cursor:pointer;'>
						<td id='$nameAreaId' style='height:50px; color:$uiColor3; font-size:14px; font-weight:bold; text-align:center; vertical-align:middle;'>
							 $menuName
						</td>
					</tr>
				
				");
			}
		?>
		
		<tr>
			<td>
			</td>
		</tr>
	</table>

</div>