<div style="height:100%; width:100%; background-color:<?=$bgColor?>;">
	<?
		include "pages/menu.html";
	?>
	<table style="width:100%;">
		<tr>
			<td style="width:80%; padding:10px; vertical-align:top;">
				<table class="box_soft" style="width:100%; padding:0px;">
					<tr>
						<td class="box_soft_title">
							회원 리스트 테이블
						</td>
					</tr>
					<tr>
						<td style="padding:10px;">
							<table cellpadding="5" cellspacing="1" style="width:100%; background-color:#6e8f9e;">
								<tr>
									<td class="table_title">
										no
									</td>
									<td class="table_title">
										이메일
									</td>
									<td class="table_title">
										계정상태
									</td>
									<td class="table_title">
										보유포인트
									</td>
									<td class="table_title">
										추천코드
									</td>
									<td class="table_title">
										추천인
									</td>
									<td class="table_title">
										푸시수신여부
									</td>
									<td class="table_title">
										가입한시간
									</td>
									<td class="table_title">
										마지막 사용시간
									</td>
									<td class="table_title">
										탈퇴처리
									</td>
								</tr>
								<?
								
									$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
									mysql_select_db($db,$con) or die("db selection failed");
									mysql_query("set names utf8");
									
									$query = mysql_query("SELECT a.no, a.email, a.phone, a.nick, a.recommend_code, b.email AS recommender, a.state, a.point, a.push, a.joined, a.used FROM ".$tableHeader."_userlist a left join ".$tableHeader."_userlist b ON a.recommender = b.no WHERE a. state != 3;");
									
									$lineType = "table_line2";
									
									while($row = mysql_fetch_array($query)){
									
										if($lineType == "table_line2") $lineType = "table_line1";
										else $lineType = "table_line2";
										
								?>
										<tr style="background-color:#fafafa;">
											<td class="<?=$lineType?>">
												<?=$row["no"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["email"]?>
											</td>
											<td class="<?=$lineType?>">
												<?
													if($row["state"] == 1) echo "정상";
													else if($row["state"] == 2) echo "사용정지";
													else echo "탈퇴";
												?>
											</td>
											<td class="<?=$lineType?>">
												<?=number_format($row["point"])?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["recommend_code"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["recommender"]?>
											</td>
											<td class="<?=$lineType?>">
												<?
													if($row["push"] == 1) echo "수신";
													else echo "수신안함";
												?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["joined"]?>
											</td>
											<td class="<?=$lineType?>">
												<?=$row["used"]?>
											</td>
											<td class="<?=$lineType?>">
												
												<?
													if($row["state"] == 3) {
													}
													else {
												?>
														<input type="button" class="table_button" value="탈퇴" onclick="out_user('<?=$row["no"]?>');"> 
												<?
													}
												?>
												
											</td>
										</tr>
									<?
										}
									?>
							</table>
						</td>
					</tr>
					
				</table>
			</td>
			<td class="box_soft_guide" style="width:20%;">
				<b>· 항목설명</b>
				<br>
				<b>no</b> : 각 사용자별 고유번호 입니다.
				<br><br>
				<b>계정상태</b> : 정상, 중지(블럭), 삭제(사용자가 직접 탈퇴)
			</td>
		</tr>
	</table>
</div>


<script type="text/javascript">


	function out_user(no){
		if(confirm("선택하신 사용자를 탈퇴시키겠습니까?")){
			dynamicSrc("func=out_user&no="+no);
		}
	}
	
</script>

