</script>

<div class="bodyContainerTypeB" style="overflow-y:scroll;">
	<table style="width:100%; height:100%;">
		<tr>
			<td id="adArea" style="width:100%; vertical-align:middle; text-align:center;">
				<input type="button" class="bt_default_orange" style="width:80%; height:50px;" value="NAS 충전소" onclick="clickEffect(); window.HybridApp.openNasAd('<?=$_SESSION[userData][no]?>');">
				<br><br>
				
				<input type="button" class="bt_default_orange" style="width:80%; height:50px;" value="TNK 충전소" onclick="clickEffect(); window.HybridApp.openTnkAd('<?=$_SESSION[userData][no]?>');">
				<br><br>
				
				<input type="button" class="bt_default_orange" style="width:80%; height:50px;" value="ADS 충전소" onclick="clickEffect(); window.HybridApp.openAdsyncAd('<?=$_SESSION[userData][no]?>');">
				<br><br>

				<input type="button" class="bt_default_orange" style="width:80%; height:50px;" value="IGA 충전소" onclick="clickEffect(); window.HybridApp.openIGAAd('<?=$_SESSION[userData][no]?>');">
				<br><br>

				<input type="button" class="bt_default_orange" style="width:80%; height:50px;" value="동영상 충전소" onclick="clickEffect(); window.HybridApp.openVungleAd('<?=$_SESSION[userData][no]?>');">
				<br><br>
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">

	
	function createRequest(){
		var request;
		try{
			request = new XMLHttpRequest();
		}catch(ex1){
			var versions = [
				'Msxml2.XMLHTTP.6.0',
				'Msxml2.XMLHTTP.5.0',
				'Msxml2.XMLHTTP.4.0',
				'Msxml2.XMLHTTP.3.0',
				'Msxml2.XMLHTTP',
				'Microsoft.XMLHttp'
			];
			for(var i=0; i<versions.length; i++ ){
				try{
					request = new ActiveXObject(versions);
				}catch(ex2){}
			}
		}
		return request;
	}
	
	var listLoadingCount = 0;
	var listData = new Array();
	
	function setList(){
		console.log(listLoadingCount);
		if(listLoadingCount >= 1){
			
			document.getElementById("adArea").innerHTML = "";
		
			listData.sort(function(left, right){
				return left[0] - right[0];
			});
			/*
			
			var adDataCount = dataAppNext.length;
			var rnd,tmp;
			for(var i=0;i<adDataCount;i++){
				rnd=Math.round(Math.random() * (adDataCount-1));
				tmp=dataAppNext[i];
				dataAppNext[i]=dataAppNext[rnd];
				dataAppNext[rnd]=tmp;
			}
			*/
			for(var i = 0; i < listData.length; i++){
			/*
				if(i.toString().indexOf("0") != -1){
					var adData = dataAppNext.shift();
					if(adData){
						document.getElementById("adArea").innerHTML += "<table cellspacing='5' class='input_infield' style='width:100%; color:#000000; margin-bottom:10px;'><tr><td style=\"width:40%;\"><img src='"+adData[2]+"' style='width:100%;'></td><td style=\"width:60%; text-align:center;\"><span style='color:#888888;'>[추천앱] </span><span style='color:#1a9e00;'>"+adData[0]+"</span><br>"+adData[1]+"<br><input type='button' class='bt_infield' style='width:90%; height:30px;' value='상세보기' onclick='clickEffect(); window.HybridApp.linkURL(\""+adData[3]+"\");'></td></tr></table>";
					}
				}
				*/
				document.getElementById("adArea").innerHTML += listData[i][1];
			}
		
		}
	}
	/*
	var dataAppNext = new Array();
	function getData_AppNext(){		//앱넥스트 광고 데이터를 조회함.
			var request = createRequest();
			request.open('GET', 'http://admin.appnext.com/offerApi.aspx?pimg=1&pimp=1&id=8cd1d5f9-b612-4cb1-af66-56ae4ad31bcf');
			
			request.send();	//호출
			request.onreadystatechange = function() {	//리시버
				if (request.readyState == 4) { // 2:send()호출 3:응답수신시작 4: 응답수신완료
					if (request.status >= 200 && request.status < 300) {	//응답에 문제가 없다면
						//responseText: 서버로부터 받은 응답 내용 문자열, responseXML: 서버로부터 받은 XML 개체
						var responseData = JSON.parse(request.responseText);
						var apps = responseData.apps;
						for(var i in apps){
							if(apps[i].country.length == 1 && apps[i].country[0] == "KR"){
								dataAppNext[dataAppNext.length] = [apps[i].title, apps[i].desc, apps[i].urlImg, apps[i].urlApp, apps[i].urlVideo];
							}
						}
						
						listLoadingCount++;
						setList();

					}
					else {	//응답에 문제가 생기면 상태코드 출력
						listLoadingCount++;
						setList();
						//printJson(false, 1004, "HTTP Error - "+request.status, null);
					}
				}
			}
		}
		*/
	
	var callNasDataInterval;
	
	//NextApps 광고 호출
	function callNasData(){
		var nasData = window.HybridApp.getNasAd("<?=$_SESSION[userData][no]?>");
		if(nasData != ""){
			var nasAds = nasData.split("#t");
			var output = "";
			
			for(var i = 0; i < nasAds.length; i++){
				if(nasAds[i]){
				var ads = nasAds[i].split("#r");
				
				listData[listData.length] = [ads[4], "<table cellspacing='10' style='width:100%; color:#FFFFFF; border-bottom:1px solid #86ad65;' onclick='clickEffect(); window.HybridApp.joinNasAd("+i+");'><tr><td rowspan='2' style='width:20%;'><img src='"+ads[3]+"' style='width:100%;'></td><td style='width:60%; color:#2b4c05; text-align:left; vertical-align:top; font-weight:bold;'>"+ads[1]+"</td><td rowspan='2' style='width:20%; text-align:right; vertical-align:middle;'><div style='width:100%; color:#b57263; font-size:16px; font-weight:bold; padding:3px; border-style:solid; border-width:1px; border-color:#b57263; border-radius:2px;'>"+ads[4]+"캐쉬</div></td></tr><tr><td style='color:#444444; font-size:12px; text-align:left; vertical-align:top;'>"+ads[2]+"</td></tr></table>"];
				}
				
			}
			listLoadingCount++;
			setList();
				
			clearInterval(callNasDataInterval);
		}
	}
	
	
	function joinIgaworksInstallType(key, packageName, url){
		var isInstalled = window.HybridApp.isAppInstalled(packageName);
		if(isInstalled == 1){window.HybridApp.showToast("이미 설치되어있습니다.");}
		else{
			window.HybridApp.goingForInstall(key, packageName);
			window.HybridApp.linkURL(url);
		}
	}
	
	function finishIgaworksInstall(key, packageName){
		console.log(key + "//" + packageName);
		dynamicSrc("func=IgaworksFinishInstall&packageName="+packageName+"&key="+key+"&no=<?=$_SESSION[userData][no]?>&adid="+window.HybridApp.getAdId());
	}
	
	
	//Igaworks 광고 호출
	//테스트
	//http://staging.adpopcorn.com/ap/v3/api/mediamix/mediamixservice.svc/offers
	//라이브
	//http://api.adpopcorn.com/ap/v3/api/mediamix/mediamixservice.svc/offers
	function callIgaData(puid, ip){
		$.ajax({
			url: "http://api.adpopcorn.com/ap/v3/api/mediamix/mediamixservice.svc/offers?mediakey=222665096&puid="+puid+"&usn=<?=$_SESSION[userData][no]?>&adid="+window.HybridApp.getAdId()+"&country=kr&language=ko&ip="+ip,
			dataType: 'jsonp',
			success: function(rvData) {
				//var jsonData = JSON.parse(JSON.stringify(rvData));
				if(rvData.Result){
					for(var i = 0; i < rvData.CampaignInfo.length; i++){
						if(rvData.CampaignInfo[i].CampaignType != 2){
							var onClick = "";
							if(rvData.CampaignInfo[i].CampaignType == 0){
								onClick = "joinIgaworksInstallType('"+rvData.CampaignInfo[i].CampaignKey+"', '"+rvData.CampaignInfo[i].PackageName+"', '"+rvData.CampaignInfo[i].RedirectURL+"');";
								
							}
							else{
								onClick = "window.HybridApp.linkURL('"+rvData.CampaignInfo[i].RedirectURL+"');";
							}
						
							listData[listData.length] = [rvData.CampaignInfo[i].RewardQuantity, "<table cellspacing='10' style='width:100%; color:#FFFFFF; border-bottom:1px solid #86ad65;' onclick=\"clickEffect(); "+onClick+"\"><tr><td rowspan='2' style='width:20%;'><img src='"+rvData.CampaignInfo[i].ListIcon+"' style='width:100%;'></td><td style='width:60%; color:2b4c05; text-align:left; vertical-align:top; font-weight:bold;'>"+rvData.CampaignInfo[i].Title+"</td><td rowspan='2' style='width:20%; text-align:right; vertical-align:middle;'><div style='width:100%; color:#b57263; font-size:16px; font-weight:bold; padding:3px;border-style:solid; border-width:1px; border-color:#b57263; border-radius:2px;'>"+rvData.CampaignInfo[i].RewardQuantity+"캐쉬</div></td></tr><tr><td style='color:444444; font-size:12px; text-align:left; vertical-align:top;'>"+rvData.CampaignInfo[i].ActionDescription +"</td></tr></table>"];
							
							/*
							document.getElementById("adArea").innerHTML += "<table cellspacing='5' class='input_default' style='width:100%; color:#FFFFFF; margin-bottom:10px;' onclick=\"clickEffect(); "+onClick+"\"><tr><td rowspan='2' style='width:20%;'><img src='"+rvData.CampaignInfo[i].ListIcon+"' style='width:100%;'></td><td style='width:65%; color:FFFFFF; text-align:left; vertical-align:top;'>"+rvData.CampaignInfo[i].CampaignType+rvData.CampaignInfo[i].Title+"</td><td style='width:15%; color:1a9e00; font-size:12px; text-align:right; vertical-align:top;'>"+"</td></tr><tr><td style='color:888888; font-size:12px; text-align:left; vertical-align:top;'>"+rvData.CampaignInfo[i].CampaignDescription+"<br>"+rvData.CampaignInfo[i].ActionDescription +"</td><td style='color:c69219; font-size:14px; text-align:right; vertical-align:bottom;'>"+rvData.CampaignInfo[i].RewardQuantity+" RP</td></tr></table>";
							*/
						}
					}
				
				
				}
				
				console.log(JSON.stringify(rvData));
				listLoadingCount++;
				setList();
			},
			error: function(xhr) {
			
	console.log("0");
				listLoadingCount++;
				setList();
			}
		});
	}
	
	if(<?=$_SESSION[userData][no]?> == 100000001 || <?=$_SESSION[userData][no]?> == 100000003 || <?=$_SESSION[userData][no]?> == 100000004){
		
		//finishIgaworksInstall(1, 1);
		//sendDataIgaworksInstall("3916177376200923FC47B4C158E3DA8C", "119.70.212.195", "com.webzen.muorigin.google", "1883767017");
	
	}
	else{
		
		//NextApps 광고 호출 interval
		
	
		
	}
	
	//window.HybridApp.resetNasAd();
	//callNasDataInterval = setInterval(callNasData, 1000);
	//dynamicSrc("func=callIgaworks&imei="+window.HybridApp.getIMEI());
	//getData_AppNext();
	
</script>
