<div class="bodyContainerTypeC">
	<center>
	<table cellpadding="0" cellspacing="0" style="width:100%; height:100%;">
		<tr style="height:10%; background-color:#fdbd28;">
			<td colspan="3" class="subTitleArea">
				FAQ
			</td>
		</tr>
		<tr style="height:2%; background-color:#c0b7b0;">
			<td colspan="3">
			</td>
		</tr>
		<tr style="height:2%;">
			<td rowspan="10" style="width:2%;"></td>
			<td></td>
			<td rowspan="10" style="width:2%;"></td>
		</tr>
		<tr style="height:76%;">
			<td style="width:96%; padding:5px;">
				<div style="height:100%; width:100%;  overflow-y:auto;">
					<center>
					<table style="width:100%; height:100%;">
						<?
						
							$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
							mysql_select_db($db,$con) or die("db selection failed");
							mysql_query("set names utf8");
							
							$queryData = mysql_query("SELECT no, title, text FROM ".$tableHeader."_faq ORDER BY sort DESC;");
							
							while($faqData = mysql_fetch_array($queryData)){
								echo ("
									<tr>
										<td style='vertical-align:top;'>
											<div class='input_default' style='padding:5px 5px 5px 5px;'>
												<table style='width:100%;'>
													<tr>
														<td style='text-align:left; color:#000000;'>
															$faqData[title]
														</td>
													</tr>
													<tr>
														<td style='text-align:left; color:#888888; font-size:12px;'>
															$faqData[text]
														</td>
													</tr>
												</table>
											</div>
										</td>
									</tr>
									<tr style='height:10px;'><td></td></tr>
								");
							}
							mysql_close($con);
						
						?>
						<tr><td></td></tr>
					</table>
					</center>
				</div>
			</td>
		</tr>
		<tr style="height:1%;"><td></td></tr>
		<tr style="height:9%;">
			<td style="padding:5px 0px 5px 0px;">
				<input type="button" class="bt_default_orange" style="width:100%; height:100%;" value="돌아가기" onclick="clickEffect(); location.replace('?loc=more');">
			</td>
		</tr>
	</table>
	</center>
</div>