<script type="text/javascript">
	function findId(){
		
		var phone = document.getElementById("phone").value;
		
		if(!phone){openAlert("알림", "연락처를 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		
		dynamicSrc("func=findId&phone="+phone);
	
	}
	
	function findPW(){
		
		var email = document.getElementById("email").value;
		
		if(!email){openAlert("알림", "아이디(이메일)를 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		
		dynamicSrc("func=findPW&email="+email);
	
	}
</script>
<div class="bodyContainerTypeC">
	<center>
	<table cellpadding="0" cellspacing="0" style="width:100%; height:100%;">
		<tr style="height:10%; background-color:#fdbd28;">
			<td colspan="3" class="subTitleArea">
				PW찾기
			</td>
		</tr>
		<tr style="height:2%; background-color:#c0b7b0;">
			<td colspan="3">
			</td>
		</tr>
		<tr style="height:2%;">
			<td rowspan="10" style="width:2%;"></td>
			<td></td>
			<td rowspan="10" style="width:2%;"></td>
		</tr>
		<tr style="height:76%;">
			<td class="div_outfield" style="width:96%; padding:10px 10px 10px 10px;">
				<div style="height:100%; width:100%;  overflow-y:auto;">
					<center>
					<table style="width:95%;">
					<!--
						<tr><td></td></tr>
						<tr>
							<td style="text-align:left;">
								<span style="color:#000000; font-weight:bold;">
								아이디찾기<br>
								</span>
								<span style="color:#888888; font-size:12px;">
								가입시 기재한 연락처를 입력해주세요.<br>
								11자리 숫자만("-"생략)<br>
								예)01022224444
								</span>
							</td>
						</tr >
						<tr style="height:10%;">
							<td style="padding:3px 3px 3px 3px;">
								<input id="phone" type="number" class="input_default" style="width:100%; height:100%; text-align:center;" placeholder="연락처">
							</td>
						</tr>
						<tr style="height:10%;">
							<td style="padding:3px 3px 3px 3px;">
								<input type="button" class="bt_default_orange" style="width:100%; height:100%;" value="아이디찾기" onclick="clickEffect(); findId();">
							</td>
						</tr>
						-->
						<tr><td></td></tr>
						<tr>
							<td style="text-align:left;">
							
								<span style="color:#000000; font-weight:bold;">
								비밀번호찾기<br>
								</span>
								<span style="color:#888888; font-size:12px;">
								가입시 기재한 아이디(이메일)을 입력해주세요.<br>
								</span>
							</td>
						</tr >
						<tr style="height:40px;">
							<td style="padding:3px 3px 3px 3px;">
								<input id="email" type="email" class="input_default" style="width:100%; height:100%; text-align:center;" placeholder="아이디(이메일)">
							</td>
						</tr>
						<tr style="height:40px;">
							<td style="padding:3px 3px 3px 3px;">
								<input type="button" class="bt_default_orange" style="width:100%; height:100%;" value="비밀번호찾기" onclick="clickEffect(); findPW();">
							</td>
						</tr>
						<tr><td></td></tr>
					</table>
					</center>
				</div>
			</td>
		</tr>
		<tr style="height:1%;"><td></td></tr>
		<tr style="height:9%;">
			<td style="padding:5px 0px 5px 0px;">
				<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="돌아가기" onclick="clickEffect(); location.replace('?loc=login');">
			</td>
		</tr>
	</table>
	</center>
</div>