<div class="bodyContainerTypeC">
	<center>
	<table cellpadding="0" cellspacing="0" style="width:100%; height:100%;">
		<tr style="height:10%; background-color:#fdbd28;">
			<td colspan="3" class="subTitleArea">
				CASH 적립/소모 내역
			</td>
		</tr>
		<tr style="height:2%; background-color:#c0b7b0;">
			<td colspan="3">
			</td>
		</tr>
		<tr style="height:2%;">
			<td rowspan="10" style="width:2%;"></td>
			<td></td>
			<td rowspan="10" style="width:2%;"></td>
		</tr>
		<tr style="height:76%;">
			<td style="width:96%; padding:5px;">
				<div style="height:100%; width:100%;  overflow-y:auto;">
					<center>
					<table style="width:98%; height:100%;">
						<tr style="height:5%;">
							<td style="width:20%; text-align:center; color:#000000; font-size:12px;">
								일시
							</td>
							<td style="width:50%; text-align:center; color:#000000; font-size:12px;">
								내용
							</td>
							<td style="width:15%; text-align:center; color:#000000; font-size:12px;">
								포인트
							</td>
							<td style="width:15%; text-align:center; color:#000000; font-size:12px;">
								잔액
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<div class="input_default" style="height:100%; width:100%; padding:1px; 1px; 1px; 1px; overflow-y:auto;">
									<table style="width:100%;">
										<?
											$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
											mysql_select_db($db,$con) or die("db selection failed");
											mysql_query("set names utf8");
											
											$queryData = mysql_query("SELECT userno, state, memo, point, balance, event_time FROM ".$tableHeader."_history_point WHERE  userno = '".$_SESSION[userData][no]."' ORDER BY event_time DESC, no DESC;");
											while($historyData = mysql_fetch_array($queryData)){
												$datetime = explode(" ", $historyData[event_time]);
												$pointColor;
												if(strcmp("1", $historyData[state])) {
												$pointColor = "#5599ff";
												$pointText = "▼ ".number_format($historyData[point]);
												}
												else {
												$pointColor = "#ff5555";
												$pointText = "▲ ".number_format($historyData[point]);
												}
												$balance = number_format($historyData[balance]);
												echo ("
												
													<tr>
														<td style='width:20%; text-align:left; color:#888888; font-size:11px;'>
															$datetime[0]<br>$datetime[1]
														</td>
														<td style='width:50%; text-align:left; color:#000000; font-size:11px;'>
															$historyData[memo]
														</td>
														<td style='width:15%; text-align:right; color:$pointColor; font-size:11px;'>
															$pointText
														</td>
														<td style='width:15%; text-align:right; color:#888888; font-size:11px;'>
															$balance
														</td>
													</tr>
													<tr style='height:1px; background-color:#CCCCCC;'><td colspan='4'></td></tr>
												");
											}
											mysql_close($con);
										
										?>
										
										
									</table>
								</div>
							</td>
						</tr>
						<tr style="height:3px;"><td></td></tr>
					</table>
					</center>
				</div>
			</td>
		</tr>
		<tr style="height:1%;"><td></td></tr>
		<tr style="height:9%;">
			<td style="padding:5px 0px 5px 0px;">
				<input type="button" class="bt_default_orange" style="width:100%; height:100%;" value="돌아가기" onclick="clickEffect(); location.replace('?loc=mypage');">
			</td>
		</tr>
	</table>
	</center>
</div>