<script type="text/javascript">
	function inquiry(){
		
		var title = document.getElementById("title").value;
		var text = document.getElementById("text").value;
		
		if(!title){openAlert("알림", "제목을 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		if(!text){openAlert("알림", "내용을 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		
		dynamicSrc("func=sendInquiry&title="+title+"&text="+text+"&email=<?=$_SESSION[userData][email]?>");
	
	}
	
</script>

<div class="bodyContainerTypeC">
	<center>
	<table cellpadding="0" cellspacing="0" style="width:100%; height:100%;">
		<tr style="height:10%; background-color:#fdbd28;">
			<td colspan="4" class="subTitleArea">
				1:1문의
			</td>
		</tr>
		<tr style="height:2%; background-color:#c0b7b0;">
			<td colspan="4">
			</td>
		</tr>
		<tr style="height:2%;">
			<td rowspan="10" style="width:2%;"></td>
			<td colspan="2"></td>
			<td rowspan="10" style="width:2%;"></td>
		</tr>
		<tr style="height:76%;">
			<td colspan="2" style="width:96%; padding:10px 10px 10px 10px;">
				<div style="height:100%; width:100%;  overflow-y:auto;">
					<center>
					<table style="width:100%; height:100%;">
						<tr style="height:13%;">
							<td style="padding:3px 3px 3px 3px;">
								<input id="title" type="text" class="input_default" style="width:100%; height:100%; text-align:left; padding:5px 5px 5px 5px;" maxlength="40" placeholder="제목">
							</td>
						</tr>
						<tr style="height:53%;">
							<td style="padding:3px 3px 3px 3px;">
								<textarea id="text" class="input_default" style="width:100%; height:100%; text-align:left; padding:5px 5px 5px 5px;" placeholder="문의내용"></textarea>
							</td>
						</tr>
						<tr style="height:34%;">
							<td class="input_default" style="padding:3px 3px 3px 3px;">
								<div  style="width:100%; height:100%; text-align:left; color:#000000;">
								1:1문의시 참고사항!<br><br>
								<span style="color:#888888;">
									1. 답변은 사용하는 아이디의 이메일주소로 보내드립니다.<br>
									2. 이메일주소가 부정확할시 답변이 어려운점 양해바랍니다..<br>
									3. 이메일 주소가 잘못되어 변경을 원하실경우, 변경하실 주소와 함께 문의바랍니다.
								</span>
								</div>
							</td>
						</tr>
						<tr><td></td></tr>
					</table>
					</center>
				</div>
			</td>
		</tr>
		<tr style="height:1%;"><td colspan="2"></td></tr>
		<tr style="height:9%;">
			<td style="width:48%; padding:5px 2px 5px 0px;">
				<input type="button" class="bt_default_orange" style="width:100%; height:100%;" value="문의하기" onclick="clickEffect(); inquiry();">
			</td>
			<td style="width:48%; padding:5px 0px 5px 4px;">
				<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="돌아가기" onclick="clickEffect(); location.replace('?loc=more');">
			</td>
		</tr>
	</table>
	</center>
</div>