<script type="text/javascript">
	function login(){
		
		var id = document.getElementById("id").value;
		var pw = document.getElementById("pw").value;
		
		
		if(!id){openAlert("알림", "아이디(이메일)를 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		if(!pw){openAlert("알림", "비밀번호를 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		
		dynamicSrc("func=login&id="+id+"&pw="+pw);
	
	}
</script>
<div class="bodyContainerTypeC">
	<center>
	<table style="width:80%; height:100%; color:#FFFFFF; vertical-align:middle;">
		<tr><td></td></tr>
		<tr>
			<td colspan="2" style="background-image:url('images/itcash_login_logo.png'); background-size:contain; background-repeat:no-repeat; background-position:50%; 50%;">
			</td>
		</tr>
		<tr style="height:5%;"><td></td></tr>
		<tr style="height:9%;">
			<td colspan="2" style="padding:3px 3px 3px 3px;">
				<input id="id" type="email" style="width:100%; height:100%; text-align:center; background-image:url('images/itcash_login_txtbox01.png'); background-size:100% 100%;" placeholder="아이디(이메일)">
			</td>
		</tr>
		<tr style="height:9%;">
			<td colspan="2" style="padding:3px 3px 3px 3px;">
				<input id="pw" type="password" style="width:100%; height:100%; text-align:center; background-image:url('images/itcash_login_txtbox02.png'); background-size:100% 100%;" placeholder="비밀번호">
			</td>
		</tr>
		<tr style="height:9%;">
			<td colspan="2" style="padding:3px 3px 3px 3px;">
				<input type="button" class="bt_default_orange" style="width:100%; height:100%;" value="로그인" onclick="clickEffect(); login();">
			</td>
		</tr>
		<tr style="height:9%;">
			<td style="width:50%; padding:3px 3px 3px 3px;">
				<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="회원가입" onclick="clickEffect(); location.replace('?loc=terms');">
			</td>
			<td style="width:50%; padding:3px 3px 3px 3px;">
				<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="PW찾기" onclick="clickEffect(); location.replace('?loc=find');">
			</td>
		</tr>
		<tr><td></td></tr>
	</table>
	</center>
</div>