<div class="menuContainer">
	<table cellpadding="0" cellspacing="0" style="width:100%; height:100%;">
		<tr>
			<td id="adlist" class="menuArea" style="background-image:url('./images/bt_top_adlist.png');" onclick="clickEffect(); location.replace('?loc=adlist');">
			</td>
			<td id="store" class="menuArea" style="background-image:url('./images/bt_top_store.png');" onclick="clickEffect(); location.replace('?loc=store');">
			</td>
			<td id="mypage" class="menuArea" style="background-image:url('./images/bt_top_mypage.png');"  onclick="clickEffect(); location.replace('?loc=mypage');">
			</td>
			<td id="more" class="menuArea" style="background-image:url('./images/bt_top_more.png');" onclick="clickEffect(); location.replace('?loc=more');">
			</td>
			
		</tr>
	</table>
</div>

<script type="text/javascript">
	document.getElementById("<?=$loc?>").style.backgroundImage = "url('./images/bt_top_<?=$loc?>_on.png')";

</script>
