<script type="text/javascript">
	function logout(){
		openConfirm("알림", "로그아웃 하시겠습니까?", "확인", "취소", 0.8, 0.3, function(){clickEffect(); dynamicSrc("func=logout");}, function(){clickEffect(); closeConfirm();});
	}
	function confirmLeavePW(){
		openConfirm("알림", "정말 탈퇴하시겠습니까?<br>탈퇴는 즉시처리되며 데이터는 복구하실수 없습니다.<br>계속 진행 하시려면 현재 비밀번호를 입력하여 주십시오.<br><br><input id=\"confirmPW\" type=\"password\" class=\"input_default\" style=\"width:80%; height:40px; text-align:center;\" placeholder=\"비밀번호\">", "확인", "취소", 0.8, 0.5, function(){clickEffect(); closeConfirm(); dynamicSrc("func=leave&no=<?=$_SESSION[userData][no]?>&pw="+document.getElementById("confirmPW").value);}, function(){clickEffect(); closeConfirm();});
	}
	
	function changePushState(){
		var state = document.getElementById("push_state").innerHTML;
		if(state == "Yes"){
			document.getElementById("push_state").innerHTML = "No";
			dynamicSrc("func=changePushState&no=<?=$_SESSION[userData][no]?>&state=0");
		}
		else{
			document.getElementById("push_state").innerHTML = "Yes";
			dynamicSrc("func=changePushState&no=<?=$_SESSION[userData][no]?>&state=1");
		}
	}
	
</script>

<div class="bodyContainerTypeB" style="overflow-y:auto;">
	<center>
	<table style="width:100%;">
		<tr style="height:10px;">
			<td rowspan="10" style="width:2%;"></td>
			<td colspan="2"></td>
			<td rowspan="10" style="width:2%;"></td>
		</tr>
		<tr>
			<td colspan="2" style="width:96%; padding:5px;">
				<center>
				<table style="width:90%;">
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:30px;">
							<td style="text-align:left; color:#444444;" onclick="clickEffect(); location.replace('?loc=notice');">
								공지사항
							</td>
						</tr>
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:1px; background-color:#CCCCCC;"><td></td></tr>
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:30px;">
							<td style="text-align:left; color:#444444;" onclick="clickEffect(); location.replace('?loc=terms_review');">
								이용약관 및 개인정보취급 방침
							</td>
						</tr>
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:1px; background-color:#CCCCCC;"><td></td></tr>
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:30px;">
							<td style="text-align:left; color:#444444;" onclick="clickEffect(); location.replace('?loc=inquiry');">
								1:1 문의하기
							</td>
						</tr>
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:1px; background-color:#CCCCCC;"><td></td></tr>
						<tr style="height:5px;"><td></td></tr>
						
						<tr style="height:30px;">
							<td style="text-align:left; color:#444444;" onclick="clickEffect(); location.replace('?loc=faq');">
								FAQ
							</td>
						</tr>
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:1px; background-color:#CCCCCC;"><td></td></tr>
						<tr style="height:5px;"><td></td></tr>
					</table>
				</center>
			</td>
		</tr>
		<tr style="height:10px;"><td colspan="2"></td></tr>
		<tr>
			<td colspan="2" style="width:96%; padding:5px;">
				<center>
					<table style="width:90%;">
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:30px;">
							<td style="text-align:left; color:#444444;" onclick="clickEffect(); logout();">
								로그아웃
							</td>
						</tr>
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:1px; background-color:#CCCCCC;"><td></td></tr>
						<tr style="height:5px;"><td></td></tr>
						
						<tr style="height:30px;">
							<td style="text-align:left; color:#444444;" onclick="clickEffect(); confirmLeavePW();">
								회원탈퇴
							</td>
						</tr>
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:1px; background-color:#CCCCCC;"><td></td></tr>
						<tr style="height:5px;"><td></td></tr>
					</table>
				</center>
			</td>
		</tr>
		<tr style="height:10px;"><td colspan="2"></td></tr>
		<tr>
			<td colspan="2" style="width:96%; padding:5px;">
				<center>
					<table style="width:90%;">
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:30px;">
							<td style="width:40%; text-align:left; color:#444444;">
								버전정보
							</td>
							<td style="text-align:right; color:#888888;">
								<script>
								document.write(window.HybridApp.getPackageVersionName('com.giftpang'));
								</script>
							</td>
						</tr>
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:1px; background-color:#CCCCCC;"><td colspan="2"></td></tr>
						<tr style="height:5px;"><td></td></tr>
						
						<tr style="height:30px;" onclick="clickEffect(); changePushState()">
							<td style="width:40%; text-align:left; color:#444444;">
								푸시알람 수신여부
							</td>
							<td id="push_state" style="text-align:right; color:#fa6586;">
								Yes
							</td>
						</tr>
						<tr style="height:5px;"><td></td></tr>
						<tr style="height:1px; background-color:#CCCCCC;"><td colspan="2"></td></tr>
						<tr style="height:5px;"><td></td></tr>
					</table>
				</center>
			</td>
		</tr>
		<tr style="height:10px;"><td colspan="2"></td></tr>
	</table>
	</center>
</div>

