<script type="text/javascript">
	function logout(){
		openConfirm("알림", "로그아웃 하시겠습니까?", "확인", "취소", 0.8, 0.3, function(){clickEffect(); dynamicSrc("func=logout");}, function(){clickEffect(); closeConfirm();});
	}
	
	function confirmChangePW(){
		openConfirm("알림", "현재 비밀번호를 입력하여 주십시오.<br><br><input id=\"confirmPW\" type=\"password\" class=\"input_default\" style=\"width:80%; height:40px; text-align:center;\" placeholder=\"비밀번호\">", "확인", "취소", 0.8, 0.4, function(){clickEffect(); closeConfirm(); dynamicSrc("func=confirmChangePW&no=<?=$_SESSION[userData][no]?>&pw="+document.getElementById("confirmPW").value);}, function(){clickEffect(); closeConfirm();});
	}
	function inputNewPW(){
		openConfirm("알림", "새로운 비밀번호를 입력하여 주십시오.<br><br><input id=\"newPW1\" type=\"password\" class=\"input_default\" style=\"width:80%; height:40px; text-align:center;\" placeholder=\"비밀번호\"><br><br><input id=\"newPW2\" type=\"password\" class=\"input_default\" style=\"width:80%; height:40px; text-align:center;\" placeholder=\"비밀번호확인\">", "확인", "취소", 0.8, 0.5, function(){clickEffect(); changePW(document.getElementById("newPW1").value, document.getElementById("newPW2").value);}, function(){clickEffect(); closeConfirm();});
	}
	function changePW(pw1, pw2){
	
		if(!pw1){window.HybridApp.showToast("비밀번호를 입력해주세요."); return false;}
		if(!pw2){window.HybridApp.showToast("비밀번호확인을 입력해주세요."); return false;}
		if(pw1 != pw2){window.HybridApp.showToast("두 비밀번호가 일치하지 않습니다."); return false;}
		if(pw1.length < 6){window.HybridApp.showToast("비밀번호가 너무 짧습니다. 6~16자리로 입력해주세요."); return false;}
		if(pw1.length > 16){window.HybridApp.showToast("비밀번호가 너무 깁니다 6~16자리로 입력해주세요."); return false;}
		
		closeConfirm();
		dynamicSrc("func=changePW&no=<?=$_SESSION[userData][no]?>&pw="+pw1);
	}
	
	function recommend(){
		dynamicSrc("func=set_recommend_code");
		window.HybridApp.sendText("추천하기", "짜투리시간에 뭐하세요?\n용돈이라도 벌면서 쉬세요.\n\"기프트팡\"으로 무료 현금,틴캐시,문상 받아가세요!!\n추천인 : <?=$_SESSION[userData][recommend_code]?>\nhttps://play.google.com/store/apps/details?id=com.giftpang");
	}
	function getCode(){
	
		dynamicSrc("func=getCode&no=<?=$_SESSION[userData][no]?>");
	}
	
</script>
<?
	$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
	mysql_select_db($db,$con) or die("db selection failed");
	mysql_query("set names utf8");

	$totalPoint = 0;
	$usedPoint = 0;
	$balance = $_SESSION[userData][point];
	$myCode = "미발급";
	$myRecommender = 0;
	$pointOfRecommender = 0;
	
	
	$totalPoint = mysql_fetch_array(mysql_query("SELECT SUM(point) FROM ".$tableHeader."_history_point WHERE userno = '".$_SESSION[userData][no]."' AND state='1';"));
	$usedPoint = mysql_fetch_array(mysql_query("SELECT SUM(point) FROM ".$tableHeader."_history_point WHERE userno = '".$_SESSION[userData][no]."' AND state='2';"));
	if($_SESSION[userData][recommend_code] != 0) $myCode = $_SESSION[userData][recommend_code];
	$myRecommender = mysql_fetch_array(mysql_query("SELECT COUNT(no) FROM ".$tableHeader."_userlist WHERE recommender = '".$_SESSION[userData][no]."';"));
	$pointOfRecommender = mysql_fetch_array(mysql_query("SELECT SUM(point) FROM ".$tableHeader."_history_point WHERE userno = '".$_SESSION[userData][no]."' AND state='1' AND value = '1002';"));
	
	
	$totalPoint = number_format($totalPoint[0]);
	$usedPoint = number_format($usedPoint[0]);
	$balance = number_format($balance);
	$myRecommender = number_format($myRecommender[0]);
	$pointOfRecommender = number_format($pointOfRecommender[0]);


?>

<div class="bodyContainerTypeB" style="overflow-y:auto;">
	<center>
	<table style="width:100%;">
		<tr style="height:10px;">
			<td rowspan="10" style="width:2%;"></td>
			<td colspan="2"></td>
			<td rowspan="10" style="width:2%;"></td>
		</tr>
		<tr>
			<td colspan="2" style="width:96%; padding:10px 10px 10px 10px; border-bottom:1px solid #7b7b7b;">
				<div style="background-color:#224571; border-radius:20px; font-size:14px; font-weight:bold;  color:#FFFFFF; width:22%; text-align:center; padding:3px;">기본정보</div>
				<center>
				<table style="width:100%;">
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:20px;">
						<td style="width:30%; text-align:left; color:#000000;">
							이메일
						</td>
						<td style="width:70%; text-align:left; color:#888888;">
							<?=$_SESSION[userData][email]?>
						</td>
					</tr>
					<!--
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:20px;">
						<td style="width:30%; text-align:left; color:#000000;">
							닉네임
						</td>
						<td style="width:70%; text-align:left; color:#888888;">
							<?=$_SESSION[userData][nick]?>
						</td>
					</tr>
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:20px;">
						<td style="width:30%; text-align:left; color:#000000;">
							휴대폰번호
						</td>
						<td style="width:70%; text-align:left; color:#888888;">
							<?=$_SESSION[userData][phone]?>
						</td>
					</tr>
					-->
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:50px;">
						<td colspan="2">
							<table style="width:100%; height:100%;">
								<tr>
									<td style="width:50%; height:50px; padding:5px 2px 5px 5px;">
										<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="비밀번호변경" onclick="clickEffect(); confirmChangePW();">
									</td>
									<td style="width:50%; height:50px; padding:5px 3px 5px 4px;">
										<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="로그아웃" onclick="clickEffect(); logout();">
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				</center>
			</td>
		</tr>
		<tr style="height:10px;"><td colspan="2"></td></tr>
		<tr>
			<td colspan="2" style="width:96%; padding:10px 10px 10px 10px; border-bottom:1px solid #7b7b7b;">
				<div style="background-color:#224571; border-radius:20px; font-size:14px; font-weight:bold;  color:#FFFFFF; width:25%; text-align:center; padding:3px;">포인트정보</div>
				<center>
				<table style="width:100%;">
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:20px;">
						<td style="width:30%; text-align:left; color:#000000;">
							누적 CASH
						</td>
						<td style="width:70%; text-align:left; color:#888888;">
							<?=$totalPoint?> CASH
						</td>
					</tr>
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:20px;">
						<td style="width:30%; text-align:left; color:#000000;">
							사용한 CASH
						</td>
						<td style="width:70%; text-align:left; color:#888888;">
							<?=$usedPoint?> CASH
						</td>
					</tr>
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:20px;">
						<td style="width:30%; text-align:left; color:#000000;">
							보유중인 CASH
						</td>
						<td style="width:70%; text-align:left; color:#888888;">
							<?=$balance?> CASH
						</td>
					</tr>
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:50px;">
						<td colspan="2">
							<table style="width:100%; height:100%;">
								<tr>
									<td style="width:50%; height:50px; padding:5px 2px 5px 5px;">
										<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="구매한 상품" onclick="clickEffect(); location.replace('?loc=purchase_list');">
									</td>
									<td style="width:50%; height:50px; padding:5px 3px 5px 4px;">
										<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="적립/소모내역" onclick="clickEffect(); location.replace('?loc=history_rp');">
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				</center>
			</td>
		</tr>
		<tr style="height:10px;"><td colspan="2"></td></tr>
		<tr>
			<td colspan="2" style="width:96%; padding:10px 10px 10px 10px;">
				<div style="background-color:#224571; border-radius:20px; font-size:14px; font-weight:bold;  color:#FFFFFF; width:25%; text-align:center; padding:3px;">추천인정보</div>
				<center>
				<table style="width:100%;">
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:20px;">
						<td style="width:60%; text-align:left; color:#000000;">
							나의 추천코드
						</td>
						<td style="width:40%; text-align:left; color:#888888;">
							<?=$myCode?>
						</td>
					</tr>
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:20px;">
						<td style="width:60%; text-align:left; color:#000000;">
							나를 추천한 사용자
						</td>
						<td style="width:40%; text-align:left; color:#888888;">
							<?=$myRecommender?> 명
						</td>
					</tr>
					<tr style="height:5px;"><td></td></tr>
					<tr style="height:20px;">
						<td style="width:60%; text-align:left; color:#000000;">
							추천인을 통해 획득한 CASH
						</td>
						<td style="width:40%; text-align:left; color:#888888;">
							<?=$pointOfRecommender?> CASH
						</td>
					</tr>
					<tr style="height:5px;"><td></td></tr>
					<?
						$recommendValue = "친구에게 추천하기";
						$recommendOnclick = "clickEffect(); recommend();";
						if($_SESSION[userData][recommend_code] == 0){
							
							$recommendValue = "추천코드 발급받기";
							$recommendOnclick = "clickEffect(); getCode();";
						}
					
					?>
					
					<tr style="height:50px;">
						<td colspan="2" style="height:50px; padding:5px 2px 5px 5px;">
							<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="<?=$recommendValue?>" onclick="<?=$recommendOnclick?>">
						</td>
					</tr>
				</table>
				</center>
			</td>
		</tr>
		<tr style="height:10px;"><td colspan="2"></td></tr>
	</table>
	</center>
</div>