<script type="text/javascript">
	function showBankInfo(name, inst, stock, color, state){
		openAlert("상품지급", "<span style='font-size:18px; font-weight:bold;'>"+name+"</span><br><br><span style='font-size:18px; font-weight:bold; color:"+color+";'>"+state+"</span><br><br><span style='font-size:14px; color:#AAAAAA;'>"+inst+"<br>입금정보는 아래와 같습니다.</span><br><br><span style='font-size:14px; font-weight:bold;'>"+stock+"</span>", "확인",  0.8, 0.6, function(){clickEffect(); closeAlert();});
	}
	function showPinNumber(name, inst, stock){
		openAlert("상품지급", "<span style='font-size:18px; font-weight:bold;'>"+name+"</span><br><br><span style='font-size:14px; color:#AAAAAA;'>"+inst+"</span><br><br><span style='font-size:14px; color:#FF0000;'>"+stock+"</span>", "확인",  0.8, 0.4, function(){clickEffect(); closeAlert();});
	}
	
	function showBarcodeImage(name, inst, stock){
		openAlert("상품지급", "<span style='font-size:18px; font-weight:bold;'>"+name+"</span><br><br><span style='font-size:14px; color:#AAAAAA;'>"+inst+"</span><br><br><img src='data/barcode/"+stock+"' style='width:100%'>", "확인",  0.8, 0.6, function(){clickEffect(); closeAlert();});
	}
</script>
<div class="bodyContainerTypeC">
	<center>
	<table cellpadding="0" cellspacing="0" style="width:100%; height:100%;">
		<tr style="height:10%; background-color:#fdbd28;">
			<td colspan="3" class="subTitleArea">
				구매한상품
			</td>
		</tr>
		<tr style="height:2%; background-color:#c0b7b0;">
			<td colspan="3">
			</td>
		</tr>
		<tr style="height:2%;">
			<td rowspan="10" style="width:2%;"></td>
			<td></td>
			<td rowspan="10" style="width:2%;"></td>
		</tr>
		<tr style="height:76%;">
			<td style="width:96%; padding:5px;">
				<div style="height:100%; width:100%;  overflow-y:auto;">
					<center>
					<table style="width:98%; height:100%;">
						<?
						
							$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
							mysql_select_db($db,$con) or die("db selection failed");
							mysql_query("set names utf8");
							
							$queryData = mysql_query("SELECT no, state, product, name, message, point, parameter, event_time FROM ".$tableHeader."_history_purchase WHERE  userno = '".$_SESSION[userData][no]."' ORDER BY event_time DESC, no DESC;");
							$queryCount = 0;
							while($historyData = mysql_fetch_array($queryData)){
								$datetime = explode(" ", $historyData[event_time]);
								$stateColor;
								$stateText;
								switch($historyData[state]){
									case 1:
										$stateColor = "#5599ff";
										$stateText = "지급처리중";
									break;
									case 2:
										$stateColor = "#1a9e00";
										$stateText = "지급완료";
									break;
									case 3:
										$stateColor = "#ff5555";
										$stateText = "지급거절";
									break;
									
								}
								
								$onclick = "";
								$productData = mysql_fetch_array(mysql_query("SELECT name, instruction, type FROM ".$tableHeader."_product_list WHERE no = '".$historyData[product]."';"));
								if($productData["type"] == 1){
									//현금출금
									$stockData = mysql_fetch_array(mysql_query("SELECT parameter FROM ".$tableHeader."_product_stock WHERE used_purchaseno = '".$historyData[no]."';"));
									$productName = $productData["name"];
									$productInstruction = $productData["instruction"];
									$stock = $historyData["parameter"];
									$onclick = "clickEffect(); showBankInfo('$productName', '$productInstruction', '$stock', '$stateColor', '$stateText');";
								;
								}
								if($productData["type"] == 2){
									//상품권형
									$stockData = mysql_fetch_array(mysql_query("SELECT parameter FROM ".$tableHeader."_product_stock WHERE used_purchaseno = '".$historyData[no]."';"));
									$productName = $productData["name"];
									$productInstruction = $productData["instruction"];
									$stock = $stockData["parameter"];
									$onclick = "clickEffect(); showPinNumber('$productName', '$productInstruction', '$stock');";
								}
								if($productData["type"] == 3){
									//바코드형
									$stockData = mysql_fetch_array(mysql_query("SELECT parameter FROM ".$tableHeader."_product_stock WHERE used_purchaseno = '".$historyData[no]."';"));
									$productName = $productData["name"];
									$productInstruction = $productData["instruction"];
									$stock = $stockData["parameter"];
									$onclick = "clickEffect(); showBarcodeImage('$productName', '$productInstruction', '$stock');";
								}
				
								
								if(strcmp("1", $historyData[state])) {
								$pointColor = "#5599ff";
								$pointText = "▼ ".number_format($historyData[point]);
								}
								else {
								$pointColor = "#ff5555";
								$pointText = "▲ ".number_format($historyData[point]);
								}
								$balance = number_format($historyData[balance]);
								echo ("
									<tr style='height:15%;'>
										<td style='vertical-align:top;'>
											<div class='input_default' style='padding:1px; 1px; 1px; 1px;'>
												<table style='width:100%; color:#000000;' onclick=\"$onclick\">
													<tr>
														<td style='width:75%;text-align:left; color:#5599ff; font-size:10px;'>
															$historyData[event_time]
														</td>
														<td style='width:25%;text-align:right; color:$stateColor;'>
															$stateText
														</td>
													</tr>
													<tr>
														<td colspan='2' style='text-align:left;'>
															$historyData[name]
														</td>
													</tr>
													<tr>
														<td style='text-align:left; color:#888888; font-size:10px;'>
															$historyData[message]
														</td>
														<td style='text-align:right; color:#c69219;'>
															$historyData[point] CASH
														</td>
													</tr>
												</table>
											</div>
										</td>
									</tr>
									<tr style='height:10px;'><td></td></tr>
								");
								$queryCount++;
							}
							
							if($queryCount == 0){
								echo ("
									<tr>
										<td style='vertical-align:top; text-align:center; color:#000000;'>
											구매내역이 존재하지 않습니다.
										</td>
									</tr>
									<tr style='height:10px;'><td></td></tr>
								");
							}
							mysql_close($con);
						
						?>
						<tr><td></td></tr>
					</table>
					</center>
				</div>
			</td>
		</tr>
		<tr style="height:1%;"><td></td></tr>
		<tr style="height:9%;">
			<td style="padding:5px 0px 5px 0px;">
				<input type="button" class="bt_default_orange" style="width:100%; height:100%;" value="돌아가기" onclick="clickEffect(); location.replace('?loc=mypage');">
			</td>
		</tr>
	</table>
	</center>
</div>
