<script type="text/javascript">
	function signupCheck(){
		
		var id = document.getElementById("id").value;
		var pw = document.getElementById("pw").value;
		var pw_c = document.getElementById("pw_c").value;
		//var nick = document.getElementById("nick").value;
		//var phone = document.getElementById("phone").value;
		var code = document.getElementById("code").value;
		
		if(!id){openAlert("알림", "이메일을 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		if(!pw){openAlert("알림", "비밀번호를 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		if(!pw_c){openAlert("알림", "비밀번호확인을 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		//if(!nick){openAlert("알림", "별명을 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		//if(!phone){openAlert("알림", "연락처를 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		
		if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(id))){ 
			openAlert("알림", "이메일형식이 올바르지 않습니다.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();});
			return false; 
		}
		
		if(pw != pw_c){openAlert("알림", "두 비밀번호가 일치하지 않습니다.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		if(pw.length < 4){openAlert("알림", "비밀번호가 너무 짧습니다<br>4~16자리로 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		if(pw.length > 16){openAlert("알림", "비밀번호가 너무 깁니다<br>4~16자리로 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		
		
		//if(nick.length < 2){openAlert("알림", "별명이 너무 짧습니다<br>2~10자리로 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		//if(nick.length > 10){openAlert("알림", "별명이 너무 깁니다<br>2~10자리로 입력해주세요.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		
		
		//if(phone.length != 11){openAlert("알림", "연락처 자리수가 맞지 않습니다.<br>휴대폰번호 11자리를 입력해주세요<br>(\"-\"생략)", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();}); return false;}
		
		
		//if(inputPassword1.length < 8){ openAlert('알림', '비밀번호가 너무 짧습니다.<br>8~20자로 설정해주세요.', 0.75, 0.3, closeAlert, '확인'); return false; }
		var imei = window.HybridApp.getIMEI();
		
		dynamicSrc("func=signup&id="+id+"&pw="+pw+"&code="+code+"&imei="+imei);
		
		
	}


</script>

<div class="bodyContainerTypeC">
	<center>
	<table cellpadding="0" cellspacing="0" style="width:100%; height:100%;">
		<tr style="height:10%; background-color:#fdbd28;">
			<td colspan="4" class="subTitleArea">
				회원가입
			</td>
		</tr>
		<tr style="height:2%; background-color:#c0b7b0;">
			<td colspan="4">
			</td>
		</tr>
		<tr style="height:2%;">
			<td rowspan="10" style="width:2%;"></td>
			<td colspan="2"></td>
			<td rowspan="10" style="width:2%;"></td>
		</tr>
		<tr style="height:76%;">
			<td colspan="2" style="width:96%; padding:10px 10px 10px 10px;">
				<div style="height:95%; width:100%;  overflow-y:auto;">
					<center>
					<table style="width:95%;">
						<tr style="height:50px;">
							<td style="padding:3px 3px 3px 3px;">
								<input id="id" type="email" class="input_default" style="width:100%; height:100%; text-align:center;" placeholder="이메일">
							</td>
						</tr>
						<tr>
							<td style="text-align:right; vertical-align:top; color:#888888; font-size:12px;">
								50자이내 / 아이디로 사용됩니다.<br>
								각종 소식을 이메일로 전달해드리니 정확한 입력 바랍니다.
							</td>
						</tr>
						<tr style="height:20px;"><td></td></tr>
						<tr style="height:50px;">
							<td style="padding:3px 3px 3px 3px;">
								<input id="pw" type="password" class="input_default" style="width:100%; height:100%; text-align:center;" placeholder="비밀번호">
							</td>
						</tr>
						<tr style="height:50px;">
							<td style="padding:3px 3px 3px 3px;">
								<input id="pw_c" type="password" class="input_default" style="width:100%; height:100%; text-align:center;" placeholder="비밀번호확인">
							</td>
						</tr>
						<tr>
							<td style="text-align:right; vertical-align:top; color:#888888; font-size:12px;">
								4~16자리 / 영문,숫자,특문 사용가능합니다.
							</td>
						</tr>
						<tr style="height:20px;"><td></td></tr>
						
						
						<!--
						<tr style="height:50px;">
							<td style="padding:3px 3px 3px 3px;">
								<input id="nick" type="text" class="input_default" style="width:100%; height:100%; text-align:center;" placeholder="별명" onKeyUp="checkInputENH(this)">
							</td>
						</tr>
						<tr>
							<td style="text-align:right; vertical-align:top; color:#888888; font-size:12px;">
								2~10자리 / 한글,영문,숫자 사용가능합니다.
							</td>
						</tr>
						<tr style="height:20px;"><td></td></tr>
						<tr style="height:50px;">
							<td style="padding:3px 3px 3px 3px;">
								<input id="phone" type="number" class="input_default" style="width:100%; height:100%; text-align:center;" placeholder="연락처(숫자만)" onKeyUp="checkInputN(this)">
							</td>
						</tr>
						<tr>
							<td style="text-align:right; vertical-align:top; color:#888888; font-size:12px;">
								아이디 분실시 찾는 용도로 사용됩니다.<br>
								휴대폰 번호를 입력하여 주십시오.(11자리)<br>
								예) 01022225555
							</td>
						</tr>
						-->
						
						<tr style="height:20px;"><td></td></tr>
						<tr style="height:50px;">
							<td style="padding:3px 3px 3px 3px;">
								<input id="code" type="number" class="input_default" style="width:100%; height:100%; text-align:center;" placeholder="추천인코드(선택사항)" onKeyUp="checkInputN(this)">
							</td>
						</tr>
						<tr>
							<td style="text-align:right; vertical-align:top; color:#888888; font-size:12px;">
								<!--추천하신분을 입력해주시면 50CASH를 지급합니다.-->
							</td>
						</tr>
					</table>
					</center>
				</div>
			</td>
		</tr>
		<tr style="height:1%;"><td colspan="2"></td></tr>
		<tr style="height:9%;">
			<td style="width:48%; padding:5px 2px 5px 0px;">
				<input type="button" class="bt_default_orange" style="width:100%; height:100%;" value="가입" onclick="clickEffect(); signupCheck();">
			</td>
			<td style="width:48%; padding:5px 0px 5px 4px;">
				<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="취소" onclick="clickEffect(); location.replace('?loc=login');">
			</td>
		</tr>
	</table>
	</center>
</div>