<script type="text/javascript">

	function confirmGuide(productId, productPrice, productType){
	
	
		if(productPrice > <?=$_SESSION[userData][point]?>){
			openAlert("알림", "보유하신 포인트가 부족합니다.<br><br>선택하신 상품가격 : "+productPrice+"<br>보유하신 포인트 : <?=$_SESSION[userData][point]?>", "확인",  0.8, 0.4, function(){clickEffect(); closeAlert();});
		}
		else{
		
			var message = "<span style='color:#FF0000;'>"+productPrice+"포인트</span>가 차감됩니다.<br><br>1. 잘못 기재하신 정보로 인한 문제는 책임지지 않습니다.<br>2. 구매시 취소및 환불이 불가능합니다.<br>3. 처리 진행상황은 <span style='color:#FF0000;'>마이페이지-구매한상품</span> 에서 확인가능합니다.";
			
			if(productType == 1){
			openConfirm("상품구매약관", message+"<br><br>위 내용에 동의하실시 계속 진행하여주세요.", "동의", "동의안함", 0.8, 0.6, function(){clickEffect(); closeConfirm(); inputBankInfo(productId);}, function(){clickEffect(); closeConfirm(); window.HybridApp.showToast("동의하셔야 구매가 가능합니다.");});
			}
			else{
			openConfirm("상품구매약관", message+"<br><br>위 내용에 동의하실시 계속 진행하여주세요.", "동의", "동의안함", 0.8, 0.6, function(){clickEffect(); closeConfirm(); confirmPW(productId, "");}, function(){clickEffect(); closeConfirm(); window.HybridApp.showToast("동의하셔야 구매가 가능합니다.");});
			}
			
		}
		
	}
	
	function confirmPW(productId, param){
		openConfirm("알림", "본인확인을 위해 다시 한번 비밀번호를 입력해주세요.<br><br><input id=\"pw\" type=\"password\" class=\"input_default\" style=\"width:80%; height:40px; text-align:center;\" placeholder=\"비밀번호\">", "구매", "취소", 0.8, 0.5, function(){clickEffect(); closeConfirm(); dynamicSrc("func=purchaseRP&no=<?=$_SESSION[userData][no]?>&productId="+productId+"&pw="+document.getElementById("pw").value+"&balance=<?=$_SESSION[userData][point]?>&param="+param);}, function(){clickEffect(); closeConfirm();});
	}
	
	function inputBankInfo(productId){
		openConfirm("알림", "송금받으실 계좌정보를 입력해주세요.<br><br><input id=\"bank\" type=\"text\" class=\"input_default\" style=\"width:80%; height:40px; text-align:center;\" placeholder=\"은행명\"><br><br><input id=\"account\" type=\"text\" class=\"input_default\" style=\"width:80%; height:40px; text-align:center;\" placeholder=\"계좌번호\"><br><br><input id=\"holder\" type=\"text\" class=\"input_default\" style=\"width:80%; height:40px; text-align:center;\" placeholder=\"예금주\">", "확인", "취소", 0.8, 0.5, function(){clickEffect(); closeConfirm(); confirmPW(productId, "은행명:"+document.getElementById("bank").value+"<br>계좌번호:"+document.getElementById("account").value+"<br>예금주:"+document.getElementById("holder").value)}, function(){clickEffect(); closeConfirm();});
	}
	
	
	
	function categoryController(category){
	
		console.log(document.getElementById(category+"_content").style.display);
	
		if(document.getElementById(category+"_content").style.display == "block"){
			document.getElementById(category+"_content").style.display = "none";
			document.getElementById(category+"_category_state_icon").innerHTML= "▼&nbsp;&nbsp;";
		}
		else{
			document.getElementById(category+"_content").style.display = "block";
			document.getElementById(category+"_category_state_icon").innerHTML= "▲&nbsp;&nbsp;";
		}
		
	}
	
	function wait(){
		openAlert("알림", "상품준비중입니다.", "확인",  0.8, 0.3, function(){clickEffect(); closeAlert();});
	}
	
</script>
<div class="bodyContainerTypeB" style="overflow-y:scroll;">
	<center>
	
	<?
		$con = mysql_connect($host,$uname,$pwd) or die("connection failed");
		mysql_select_db($db,$con) or die("db selection failed");
		mysql_query("set names utf8");
		
		$query = mysql_query("SELECT no, name FROM ".$tableHeader."_product_category WHERE activate = 1 ORDER BY no ASC;");
		
		while($fetch = mysql_fetch_array($query)){
			$categoryNo = $fetch['no'];
			$categoryName = $fetch['name'];
			
			$category_state_icon_id = $categoryNo."_category_state_icon";
			$category_content_id = $categoryNo."_content";
			
			//echo "<script>console.log('$categoryNo');</script>";
			echo("
				<table class='input_default' style='width:95%; margin:5px; 0px; 5px; 0px;'>
				<tr style='height:40px;' onclick=\"categoryController('$categoryNo');\">
					<td style='text-align:left;'>
						$categoryName
					</td>
					<td id='$category_state_icon_id' style='text-align:right;'>
						▼&nbsp;&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan='2' id='$category_content_id' style='display:none; text-align:left;'>
			");
			$query2 = mysql_query("SELECT no, icon, name, type, description, instruction, type, price FROM ".$tableHeader."_product_list WHERE category = '$categoryNo' AND  activate = 1 ORDER BY name ASC;");
		
				
			
			while($fetch2 = mysql_fetch_array($query2)){
				$productNo = $fetch2['no'];
				$productName = $fetch2['name'];
				$productType = $fetch2['type'];
				$productDesc = $fetch2['description'];
				$productPrice = $fetch2['price'];
				$productIcon = $fetch2['icon'];
				
				echo("
					<table cellspacing='10' style='width:100%; color:#FFFFFF; border-bottom:1px solid #86ad65;' onclick='clickEffect(); confirmGuide($productNo, $productPrice, $productType);'>
						<tr>
							<td rowspan='2' style='width:20%;'>
								<img src='data/product_icon/$productIcon' style='width:100%;'>
							</td>
							<td style='width:60%; color:#2b4c05; text-align:left; vertical-align:top; font-weight:bold;'>
								$productName
							</td>
							<td rowspan='2' style='width:20%; text-align:right; vertical-align:middle;'>
								<div style='width:100%; color:#b57263; font-size:12px; font-weight:bold; padding:3px; border-style:solid; border-width:1px; border-color:#b57263; border-radius:2px;'>
									$productPrice 캐쉬
								</div>
							</td>
						</tr>
						<tr>
							<td style='color:#444444; font-size:12px; text-align:left; vertical-align:top;'>
								$productDesc
							</td>
						</tr>
					</table>
				");
			
			}
			
			
			echo("
						</td>
					</tr>
				</table>
			");
		
		
		}
		
	?>
	
	
	
	
	
	
	</center>
</div>