<div class="bodyContainerTypeC">
	<center>
	<table cellpadding="0" cellspacing="0" style="width:100%; height:100%;">
		<tr style="height:10%; background-color:#fdbd28;">
			<td colspan="4" class="subTitleArea">
				약관동의
			</td>
		</tr>
		<tr style="height:2%; background-color:#c0b7b0;">
			<td colspan="4">
			</td>
		</tr>
		<tr style="height:2%;">
			<td rowspan="10" style="width:2%;"></td>
			<td colspan="2"></td>
			<td rowspan="10" style="width:2%;"></td>
		</tr>
		<tr style="height:37%;">
			<td class="input_default" colspan="2" style="width:96%; padding:10px 10px 10px 10px;">
				<span style="font-weight:bold;  color:#2b4c05;">이용약관</span>
				<div style="height:90%; width:100%;  overflow-y:auto; color:#888888;">
				제1조 (목적)<br>본 약관은 머니코드 서비스(이하 서비스)에 가입한 회원이 서비스 제공자(이하 제공자)가 제공하는 서비스를 이용함에 있어 회원및 제공자 간의 제반 권리 의무와 관련 절차등을 규정하는데 그 목적이 있습니다.<br><br>제2조 (용어의 정의)<br>이 약관에서 사용하는 용어의 정의는 다음 각 항과 같으며, 정의되지 않은 용어에 대한 해석은 관게법령 및 서비스 내 별도 안내에서 정하는 바에 따릅니다.<br>① 머니코드 서비스(이하, 서비스) : 단말기(모바일 등의 장치를 포함)를 이용하는 모든 회원이 이용하는 모바일 광고 서비스로 광고주가 광고를 송출 할 회원의 범주를 결정하면 회원은 광고를 시청하고 제공자가 제공하는 절차를 이행하면 그에 대한 포인트를 적립하며 컨텐츠를 이용 할 수 있는 모바일 광고 서비스 입니다.<br>② 머니코드 회원(이하, 회원) : 본 약관에 동의후 이용계약을 체결하고, 서비스에 정상적으로 가입되어 서비스를 이용하는 고객을 의미합니다.<br>③ 머니코드 계정(이하, ID) : 회원의 식별과 서비스 이용을 위하여 회원이 선정하고 제공자가 승인하는 이메일주소를 의미합니다.<br>④ 포인트(원) : 본약관 제 7조의 기준에 부합하여 회원이 제공자가 정한 규정에 따라 컨텐츠 이용이 가능한 포인트를 말하며 컨텐츠 이용에 사용되며 재화로서의 가치는 없습니다.<br>⑤ 컨텐츠 : 회원이 포인트를 지급하고 사용할 수 있는 다양한 서비스를 의미합니다.<br>⑥ 이벤트 : 제공자가 제휴를 통하여 회원에게 일정 포인트및 상품을 내걸고 진행하는 서비스를 의미합니다.<br>⑦ 컨텐츠 : 제공자 또는 광고주가 제공하는 영상, 이미지, 퀴즈 및 설문, 이벤트 등으로 구성되는 서비스 입니다.<br><br>제3조 (약관의 효력 및개정)<br>① 본 약관은 서비스 화면에 게시하여 회원에게 공지함으로써 효력이 발생합니다.<br>② 제공자는 약관의규제에관한법률, 정보통신망이용촉진및정보보호등에 관한법률 등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.<br>③ 본 약관은 필요 시 개정될 수 있으며 약관을 개정하고자 할 경우, 제공자는 개정된 약관을 적용일자및 개정사유를 명시하여 현행약관과 함께 그 개정약관의 적용일자 14일 이전부터 적용일자 전일까지 공지합니다.<br>개정약관의 공지는 규정된 방법 중 1가지 이상의 방법으로 회원에게 명확하게 공지하도록 합니다.<br>1. 서비스 내 게시<br>2. E-mail 통보<br>3. SMS 통보<br>4. 제공자가 정한 기타 공지방법 등으로<br>④ 본 조의 규정에 의하여 개정약관은 원칙적으로 그 효력 발생이로부터 장래를 향하여 유효합니다.<br>⑤ 본 야관의 개정과 관련하여 이의가 있는 회원은 회원탈퇴를 할 수 있습니다. 단, 이의가 있음에도 불구하고 본 조 제 1항및 제2항에 따른 제공자의 공지가 있은 후 14일 이내에 회원탈퇴 및 거부의사를 표명하지 않은 회원은 개정 약관에 동의한 것으로 봅니다.<br>⑥ 회원이 개정약관의 적용에 동의하지 않는 경우 이용계약을 해지할 수 있습니다.<br>⑦ 본 조의 통지방법 및 통지의 효력은 본 약관의 각 조항에서 규정하는 개별적 또는 전체적인 통지의 경우 이를 준용합니다.<br><br>제4조 (서비스 이용신청 및 이용계약 성립)<br>① 서비스 이용계약은 회원이 본약관및 개인정보취급방침 등에 대하여 동의하고 제공자가 제공하는 가입양식을 작성하여 서비스 이용을 신청한 경우 제공자가 이를 승낙함으로써 이용계약이 체결됩니다.<br>② 회원은 제1항의 이용 신청 시 반드시 실제정보(본인 명의의 휴대전화번호, 본인이 사용중인 유효한 이메일등)를 기재하여야하며, 허위정보를 기재한 회원의 경우 서비스 이용이 제한되거나 제 5조에 의거 회원과의 서비스 이용계약이 해지할 수 있습니다.<br>③  만 14세 미만의 이용고객이 서비스를 이용하기 위해서는 제공자가 요구하는 소정의 법정대리인의 동의절차를 거쳐야합니다.(현재 동의 절차 밟지 않음)<br>④ 타인의 명의를 도용하는 등의 부정한 목적과 방법으로 이용 신청한 회원의 ID는 사전 통지없이 삭제될 수 있으며, 당해 회원은 서비스 이용금지 및 법적제재를 받을 수 있습니다.<br>⑤ 제 1항에 따른 신청에 있어 제공자는 회원의 본인인증을 요청할 수 있습니다.<br>⑥ 제공자는 회원들에게 원활한 서비스 제공을 위해 회원에게 이메일 및 SMS 등을 통한 광고 및 서비스 관련 각종 정보를 제공할 수 있습니다. 회원이 원치 않는 경우 언제든지 무선서비스를 통해서 수신거부를 할 수 있습니다.<br>⑦ 제공자는 법률에서 정한 특별한 규정이 없는 경우를 제외하고 기본적으로 회원의 별도 동의없이 회원정보를 제 3자에게 제공하지 않습니다.<br>⑧ 제공자는 서비스 운영 중 광고주가 광고송출을 원하는 회원의 범주를 제한할 시 회원은 서비스 이용에 제한이 따를 수 있습니다.<br>⑨ 회원은 서비스를 이용 중 신청양식에 기재한 회원정보가 변경되었을 경우 즉각 회원정보를 수정하여야 합니다. 회원정보 미 수정에 따라 발생하는 모든 책임은 회원에게 있습니다.<br><br>제5조 (회원정보의 변경)<br>① 회원은 서비스 내 마이페이지 화면을 통하여 본인의 개인정보를 열람하고 수정할 수 있습니다. 단 단말기 식별번호는 수정이 불가능하며, 그외에 이메일,별명,연락처 등은 더보기 화면의 1:1문의를 통하여 제공자가 검토후 수정할 수 있습니다.<br>② 회원은 본인의 개인정보를 허위로 설정하여 부당한 방법으로 이익을 취할 경우, 당사자의 포인트는 소멸되며 서비스 이용이 제한될 수 있습니다.<br><br>제6조 (이용계약 해지 및 자격상실/정지)<br>① 회원은 본인이 희망 시 계약을 해지하거나 서비스의 이용중지를 요청할 수 있습니다.<br>② 회원이 서비스의 이용중지를 요청 시, 이메일통보등 제공자가 지정한 절차를 거쳐 신청해야 합니다.<br>③ 제공자는 다음 각 호에 해당하는 회원이 확인될 경우, 당해 회원에 대한 사전 통보 없이 회원자격 유보/중지/해지 등의 조치를 취할 수 있으며, 이 경우 회원은 서비스와 관련된 모든 권리를 주장할 수 없습니다.<br>1. 회원 가입 신청시에 허위의 내용을 등록한 경우<br>2. 포인트 부정적립 및 부정사용 등 서비스를 부정한 방법 또는 목적으로 이용한 경우<br>- 부정적립이란 회원이 실제로 광고시청이나 이벤트참여를 하지 않았음에도 불구하고 회원에게 적립된 경우 또는 시청한 광고나 이벤트 참여 이상으로 적립포인트가 적립된 경우를 말합니다. 회원은 포인트를 적립하기 위해 정상적인 방법으로 광고를 시청하여야 하며 제공자가 제공하는 절차를 이행해야 합니다. 그 이외의 경우에는 부정적립으로 간주합니다.<br>3. 제공자가 서비스 내 공지사항을 통하여 공시하는 운영 정책을 위반하는 경우<br>4. 회원이 사망한 경우<br>5. 다른 회원의 서비스 홈페이지를 이용을 방해하거나 그정보를 도용하는 등 전자거래질서를 위협하는 경우<br>6. 서비스 내 다른 회원에 대한 위협/희롱/지속적인 고통 및 불편을 끼치는 경우<br>7. 서비스 내에서 운영자/임직원 또는 관리자를 사칭한경우<br>8. 회원 가입 신청 시 제3자의 개인정보를 이용 및 불법으로 도용한 경우<br>9. 서비스 이용 중 법률 위반행위 및 사회의 안녕/질서/미풍양속을 해치는 행위를 한 경우<br>10. 제3자의 특허권, 상표권, 저작권, 영업비밀 등 지적재산권을 포함한 기타 권리를 침해하는 행위를 한 경우<br>11. 제공자로 부터 특별한 권한을 부여 받지 않고 제공자의 홈페이지나 클라이언트 프로그램을 변경 또는 제공자의 서버를 해킹하는 등의 시스템을 위협하는 행위를 한 경우<br>12. 제공자의 사전승인 및 다른 회원에 대한 사전 동의없이 Active X, 스파이웨어, 애드웨어 등의 프로그램을 강제로 설치하게 한 경우<br>13. 서비스 방문자나 타 회원의 의사와 무관하게 특정 사이트로 방문을 유도한 경우<br>14. 서비스 이용 중 불법복제 소프트웨어, 제3자의 저작물을 밀매하는 등의 관련 법률에 저촉되는 행위를 한 경우<br>15. 인종/성/광신/이적 등의 반 사회적/도덕적 편견에 기반한 단체를 결성하는 행위를 한 경우<br>16. 다른 회원의 ID/이메일 계정 등의 개인정보를 수집하는 행위<br>17. 범죄와의 결부, 관련 법령 위반 활동으로 판단되는 행위를 한 경우<br>18. 다른 회원으로 하여금 상기 6항 내지 17항의 금지행위를 하도록 유발 및 조장하는 활동을 한 경우<br>19. 기타 본 약관에 규정된 회원의 의무를 위반한 경우<br><br>제7조 (회원탈퇴와 포인트 처리)<br>① 본 약관 제6조 제2항에 정해진 방법으로 탈퇴를 하고자 하는 회원은 회원탈퇴 요청후 제공자가 제공하는 절차를 이행하면 탈퇴를 하게 됩니다. 이떄 잔여포인트는 자동으로 소멸되고 회원가입시 작성한 기본정보는 영구소멸됩니다.<br>② 본 약관 제6조 제3항에 정해진 바에 의하여 자격상실 통보를 받은 회원의 적립된 가용포인트는 공시된 운영정책에 따라 자격상실 통보일에 처리됩니다.<br>③ 본 조 제2항의 규정에도 불구하고 본 약관 제 6조 제3항 ⅱ)호에 해당하여 제공자로부터 자격상실 통보를 받은 회원의 포인트 중 부정 적립된 포인트는 자격상실통보와 동시에 소멸하고, 이에 대하여 회원은 어떠한 권리도 주장할 수 없습니다.<br><br>제8조 (머니코드 서비스)<br>제공자가가 본 약관에 정해진 바에 따라 회원에게 제공하는 서비스는 다음 각 호와 같으며 서비스를 이용하고자 하는 고객은 본 약관에 정해진 제반 절차를 거쳐 회원으로 가입하여야 합니다. 단, 본 서비스는 타겟팅 광고 서비스로써 그 특성 상 광고주의 요구에 따라 회원들은 일부 서비스의 이용조건, 이용범위 등이 제한되거나 회원에게 일정한 자격요건이 요구될 수 있으며, 이 경우 제공자는 그 제한사항 및 자격요건을 회원께 고지해 드립니다.<br>1. 적립 서비스<br>회원은 본 약관에 정해진 바에 따라 모바일을 통해 광고를 시청하고 제공되는 절차를 이행할 경우 포인트를 적립 받을 수 있습니다.<br>2. 제휴 컨텐츠 서비스<br>회원은 본 약관에 정해진 바에 따라 기적립된 포인트로 제휴된 상품을 구매 할 수 있습니다.<br>3. 이벤트 서비스<br>회원은 본 약관에 정해진 바에 따라 각종 이벤트에 참여할 수 있습니다.<br>4. 기타<br>제공자는 상기 각 호의 서비스 이외에도 추가적인 서비스를 개발하여 회원에게 제공할 수 있습니다.<br><br>제9조 (서비스의 변경 및 중단)<br>① 제공자는 서비스의 내용, 품질, 또는 기술적 사양 등에 대해 제공자의 합리적 판단에 따라 변경할 수 있습니다.<br>② 제공자는 아래 각 호에 해당하는 사유가 발생한 경우에는 본 서비스의 전부 또는 일부를 제한하거나 중단할 수 있습니다.<br>1. 광고주가 제공자 광고서비스의 운영을 고의·과실로 방해하는 경우<br>2. 광고서비스용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우<br>3. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우<br>4. 국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등 광고서비스 이용에 지장이 있는 때<br>5. 기타 중대한 사유로 인하여 제공자가 광고서비스 제공을 지속하는 것이 부적당하다고 인정하는 경우<br>③ 제공자는 제 1항 및 제 3항의 각호 규정에 의하여 광고 서비스를 변경하거나 서비스 이용을 제한 및 중지 할 때에는 그 사유 및 제한기간 등을 회원에게 SMS로 발송하거나 서비스 내 공지사항 및 웹 페이지에 게시하는 방법으로 알립니다.<br><br>제10조 (포인트적립)<br>① 서비스에서 제공되는 광고를 모바일을 통해 시청한 후 제공되는 절차를 이행하면 포인트를 부여받게 됩니다. 포인트 적립을 위하여 특정 회원의 작격요건이 요구될 수 있습니다.<br>② 서비스 내 광고리스트 화면에 적립액으로 명시된 금액만큼의 포인트가 적립되며 이는 마이페이지 화면에서 확인할 수 있습니다.<br>③ 포인트의 적립관 관련하여 발생하는 제세공과금은 회원이 부담하는 것을 원칙으로 합니다.<br><br>제11조(포인트 사용및 컨텐츠 이용)<br>① 가용 포인트를 육백오십포인트(650포인트) 이상 보유한 회원은 제공자가 정한 소정절차에 따라 서비스 내 스토어 화면에서 누적된 가용 포인트를 이용할 수 있습니다.<br>② 회원의 컨텐츠구매에 대한 입력 정보가 유효하지 않아 제공 받지 못하는 경우 귀책사유는 회원에게 있으며 제공자는 이를 보상하지 않습니다.<br>③ 회원은 포인트를 타인에게 양도하거나 대여 또는 담보의 목적으로 이용할 수 없습니다. 다만, 제공자가 인정하는 적법한 절차를 따른 경우는 예외로 합니다.<br><br>제12조 (포인트 정정, 최소 및 소멸)<br>① 포인트 적립에 오류가 있을 경우 회원은 오류발생 시점부터 90일 이내에 제공자에 정정 신청을 하여야 하며, 제공자는 회원의 정정 신청일로부터 90일 이내에 조정할 수 있습니다.<br>② 제공자는 광고주가 회원에게 부여한 포인트를 관리하고 운영하는 역할을 담당합니다. 따라서 광고주와 제공자간의 거래과정에서 결제 문제 발생 또는 광고주의 파산, 부도 등 지급이 불가능한 경우에는 회원에게 기 부여된 포인트가 취소될 수 있으며, 이에 대한 책임은 광고주에게 있습니다.<br>③ 본 조 제2항에 따라 이미 적립된 포인트를 취소한 경우 제공자는 회원에 대한 서비스 차원에서 취소된 포인트의 10% 또는 그 이하에 해당하는 포인트를 보상 포인트로 해당 회원에게 제공할 수 있습니다.<br>④ 포인트의 적립 또는 사용이 없는 비활성화 상태가 3개월 이상 계속된 회원의 포인트는 소멸됩니다.<br><br>제13조 (회원ID및 비밀번호)<br>① 회원ID와 비밀번호에 관한 관리책임은 회원 본인에게 있으며, 회원은 제3자에게 자신의 ID 및 비밀번호를 알려주거나 이용하게 해서는 안됩니다.<br>② 회원이 자신의 ID 또는 비밀번호를 도난 당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시 제공자에 통보하고 제공자의 안내가 있는 경우에는 그에 따라야 합니다.<br><br>제14조 (제공자의 의무)<br>① 제공자는 관련법과 이 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며, 계속적이고 안정적으로 서비스를 제공하기 위하여 최선을 다하여 노력합니다.<br>② 제공자는 회원이 안전하게 서비스를 이용할 수 있도록 개인정보(신용정보 포함)보호를 위해 보안시스템을 갖추어야 하며 개인정보취급방침을 공시하고 준수합니다.<br>③ 제공자는 서비스이용과 관련하여 회원으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 처리하여야 합니다. 회원이 제기한 의견이나 불만사항에 대해서는 1:1문의를 활용하거나 E-mail 등을 통하여 회원에게 처리과정 및 결과를 전달합니다.<br><br>제15조 (회원의 의무)<br>회원은 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안됩니다.<br>1. 동일한 단말기에서 여러 개의 이메일, 개인정보를 입력하여 2개 이상의 계정을 생성, 이용하는 행위<br>2. 동일한 사용자가 복수의 계정을 생성한 후 상호 가입자 추천을 하는 행위<br>3. 타인의 이메일 또는 존재하지 않는 이메일 등을 이용하여 계정을 생성하는 행위<br>4. 서비스 이용 관련 제반 신청행위 또는 변경행위 시 허위내용 등록행위<br>5. 서비스 내 게시된 각종 정보의 무단 변경, 삭제 등 훼손 행위<br>6. 다른 회원의 명예를 손상시키거나 개인정보를 수집하는 행위<br>7. 제공자의 동의 없이 영리 목적의 광고 정보를 전송하거나 제공자가 허용한 정보 이외의 다른 정보(컴퓨터 프로그램 및 광고 등)를 송신하거나 게시하는 행위<br>8. 일체의 가공행위를 통해 서비스를 분해, 모방 또는 변형하는 행위<br>9.제공자, 기타 제3자의 저작권 등 지적재산권에 대한 침해 행위<br>10.외설 또는 폭력적인 정보(메시지, 화상, 음성 등), 기타 공서양속에 반하는 정보를 서비스에 공개하거나 게시하는 행위<br><br>제17조 (저작권의 귀속 및 이용제한)<br>① 제공자가 작성한 저작물에 대한 저작권 기타 지적재산권은 제공자에 귀속합니다.<br>② 회원은 서비스를 이용함으로써 얻은 정보를 제공자의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.<br><br>제18조 (서비스 관련 분쟁해결)<br>① 제공자는 서비스 이용과 관련하여 회원으로부터 제출되는 불만사항 및 의견을 최대한 신속하게 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 회원께 그 사유와 처리일정을 조속히 통보해 드립니다.<br>② 제공자와 회원간에 발생한 분쟁은 전자거래기본법에 의하여 설치된 전자거래분쟁 조정위원회의 조정을 거칩니다.<br><br>제19조 (서비스 종료)<br>① 서비스를 종료하고자 할 경우, 제공자는 서비스를 종료하고자 하는 날로부터 3개월 이전에 본 약관 제3조 제3항에 규정된 통지방법을 준용하여 회원에게 알려드립니다.<br>② 본 조 제1항에 따른 서비스 종료 통지가 있은 날(이하 "통지일") 현재 기 적립된 포인트는 제공자가 별도 지정하는 날("서비스 종료일")까지 본 약관이 정하는 바에 따라 현금 환급을 받거나 제휴 컨텐츠를 이용해 소진하여야 합니다. 서비스 종료일까지 사용하지 않은 포인트는 자동으로 소멸됩니다.<br>③ 본 조 제1항에 따른 서비스 종료 통지일 이후 회원은 제공자로부터 서비스를 제공받지 못합니다.<br><br>제20조 (준거법 및 합의관할)<br>① 본 약관에서 정하지 않은 사항과 본 약관의 해석에 관하여는 대한민국 법 및 상관례에 따릅니다.<br>② 서비스 및 본 약관과 관련한 제반 분쟁 및 소송은 서울중앙지방법원 또는 민사소송법상의 관할법원을 제1심 관할법원으로 합니다.<br><br>제21조 (개인정보보호 의무)<br>제공자는 관련법령이 정하는 바에 따라서 회원 등록정보를 포함한 회원의 개인정보를 보호하기 위하여 노력합니다. 회원의 개인정보보호에 관해서는 관련법령 및 제공자가 정하는 개인정보취급방침에서 정한 바에 의하며, 회원이 상시 확인할 수 있도록 홈페이지를 통해 공지하고 있습니다.
				</div>
			</td>
		</tr>
		<tr style="height:2%;"><td colspan="2"></td></tr>
		<tr style="height:37%;">
			<td class="input_default" colspan="2" style="width:96%; padding:10px 10px 10px 10px;">
				<span style="font-weight:bold;  color:#2b4c05;">개인정보취급방침</span>
				<div style="height:90%; width:100%;  overflow-y:auto; color:#888888;">
				머니코드은 회원의 개인정보를 중요시하며, 개인정보의 보호와 관련하여 정보통신망 이용촉진 및 정보보호 등에 관한 법률」 및 개인정보 보호법 등 관련법 상의 개인정보 보호 규정을 준수하고 있습니다.<br>제공자는 개인정보 취급방침을 통하여 회원의 개인정보가 남용되거나 유출되지 않도록 최선을 다할 것이며, 회원이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있고, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br><br>1. 수집하는 개인정보 항목<br><br>필수항목<br>-이메일 주소, 닉네임, 비밀번호, 광고 ID, 기기식별번호, 가입시 기입한 개인정보 (연락처 등)<br><br>추가항목<br>-서비스 이용 또는 사업처리 과정에서 생성 수집되는 각종 거래 및 개인 성향 정보(서비스 이용기록, 접속로그, 쿠키, 접속IP정보, 불량 이용 기록 등)<br><br><br>2. 개인정보의 수집 목적<br>회원가입, 타켓팅 광고서비스의 제공, 회원식별및 포인트 적립 등 기본적인 서비스 제공을 위하여 필수항목을 수집합니다. 또한 동의하여 주신 이용약관에 따라 컨텐츠 구매하시는 경우 그내용에 따라 추가항목들을 제공받아 이용하고 있습니다. 그리고 중복가입방지, 문의사항처리 부정 이용자 제재, 포인트 정산, 공지사항전달, 분쟁조정을 위한 기록보존등 회원관리와 신규 서비스 개발및 마케팅 활용을 위한 통계적 분석을 위해 서비스 이용 기록등의 사항들을 저장하고 있습니다.<br><br>3. 보유기간 및 파기방법<br>머니코드은 원칙적으로 각 개인정보의 이용목적이 달성된후에 지체없이 해당정보를 별도의 DB로 옮겨 재생할 수 없는 기술적 방법으로 사용하여 파기합니다. 필수 항목의 경우 회원가입일로부터 탈퇴일까지, 추가항목의 경우 이용을 완료시까지 이를 보유하며 그 후 파기하고 있습니다. 단, 법령에 의해 보존해야만 하는 경우 또는 불량이용자 제제와 관련 분쟁방지를 위하여 아래와 같이 일정 기간동안 회원정보를 보존합니다.<br>① 표시​/광고​에 관한 기록 : 6개월 (전자​상거래​등에서​의 소비자​보호에 관한 법률)<br>② 계약 또는 청약철​회 등에 관한 기록 : 5년 (전자​상거래​등에서​의 소비자​보호에 관한 법률)<br>③ 대금​결제 및 재화 등의 공급에 관한 기록 : 5년 (전자​상거래​등에서​의 소비자​보호에 관한 법률)<br>④ 소비​자의 불만 또는 분쟁처​리에 관한 기록 : 3년(​전자상​거래등​에서의 소비자​보호에 관한 법률)<br>⑤ 본인확인에 관한 기록 : 6개월 (정보통신망 이용촉진 및 정보보호 등에 관한 법률)<br>⑥ 방문에 관한 기록 : 3개월 (통신비밀보호법)<br>⑦ 머니코드 이용 관련 기록 : 1년 (서비스관리목적)<br><br>4. 개인정보 자동수집장치의 설치, 운영에 관한 사항<br>① IMEI<br>IMEI란 세계이동통신사업자연합(GSMA)의 가이드라인에 따라 휴대전화 제조업체가 제품에 부여한 국제모바일기기 식별코드입니다. 이는 주민등록번호등 직접적인 개인식별정보를 수집하지 않으면서 중복가입을 막을 수 있는 수단으로 이용되고 있습니다.<br><br>5. 개인정보의 제 3자에 대한 제공<br>머니코드은 회원이 이용과정 등에서 따로 동의하는 경우나 법령에 규정된 경우를 제외하고는 목적 범위를 초과하여 회원의 개인정보를 이용하거나 제 3자에게 제공또는 공유하지 않습니다. 그러나 서비스 이용시 제 3자의 서비스가 연결되어 제공되는 경우에는 이용을 위해 필요한 최소한의 범위 내에서 여러분의 동의를 얻은 후에 개인정보를 제 3자에게 제공할 수 있습니다. 열결 서비스를 위한 개인정보의 제 3자 제공 내요은 다음과 같습니다.<br>제공받는자 : 광고주<br>이용목적 : 퐁니트 중복적립 방지<br>제공항목 : IMEI<br>보유 및 이용기간 : 제공목적 달성시까지<br><br>6. 개인정보취급방침의 변경<br>머니코드은 법률이나 서비스의 변경사항을 반영하기 위한 목적등으로 개인정보 취급방침을 변경할 수 있습니다. 이경우 변경사항을 게시하여, 변경된 개인정보 취급방침은 게시한 날로부터 7일 후부터 효력이 발생합니다.<br><br>7. 개인정보의 기술적, 관리적 보호대책<br>머니코드은 이용자의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안정성 확보를 위하여 당므과 같은 기술적, 관리적 대책을 강구하고 있습니다.<br>① 이용자의 비밀번호를 암호화하여 저장 및 관리하고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다.<br>② 머니코드은 해킹이나 컴퓨터 바이러스 등에 의해 이용자의 개인정보가 유출되거나 훼손되는것을 막기위해 최선을 다하고 있습니다.<br><br>8. 회원의 권리, 문의방법<br>회원은 언제든지 개인정보를 조회하거나 수정할 수 있으며 수집 및 이용에 대한 동의를 철회하거나 가입해지를 요청할 수 있습니다. 구체적으로는 서비스 내 개인설정 기능을 통한 변경 또는 회원탈퇴를 클릭하거나, 1:1 문의를 통해 개인정보관리 책임자에게 문의하시면 지체없이 처리하여 그 결과를 알려드립니다. 또한 탈퇴후에도 이메일을 통하여 개인정보의 파기를 확인 받으실 수 있습니다.<br>개인정보보호와 관련한 문의, 불만 기타사항은 개인정보보호담당자<ajslzhem12@nate.com>에게 연락해 주시기 바랍니다.<br>공고일자 : 2016-02-13<br>시행일자 : 2016-02-13
				</div>
			</td>
		</tr>
		<tr style="height:1%;"><td colspan="2"></td></tr>
		<tr style="height:9%;">
			<td style="width:48%; padding:5px 2px 5px 0px;">
				<input type="button" class="bt_default_orange" style="width:100%; height:100%;" value="모두동의" onclick="clickEffect(); location.replace('?loc=signup');">
			</td>
			<td style="width:48%; padding:5px 0px 5px 4px;">
				<input type="button" class="bt_default_gray" style="width:100%; height:100%;" value="취소" onclick="clickEffect(); location.replace('?loc=login');">
			</td>
		</tr>
	</table>
	</center>
</div>