<div class="titleContainer">
	<table style="width:100%; height:100%;">
		<tr>
			<td style="width:35%; text-align:left; vertical-align:bottom;  color:#c69219; font-size:10px;">
			</td>
			<td class="titleArea" onclick="location.replace('?');" style="">
				
			</td>
			<td style="width:35%; font-size:10px;">
				
					
			
				<?
					if($loginId){
						$myPoint = number_format($_SESSION[userData][point]);
				?>
				<table style="width:100%; height:55%;">
					<tr>
						<td>
							&nbsp;
						</td>
						<td style="width:70%; vertical-align:middle; text-align:right; background-image:url('./images/itcash_cashimg01.png'); background-size:100% 100%; color:#FFFFFF; padding-top:1px; padding-right:5px; font-size:14px;">
							<?=$myPoint?>
						</td>
					</tr>
				</table>
				<?
					}
				?>
				
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	document.getElementById("<?=$loc?>").style.backgroundImage = "url('./images/bt_top_<?=$loc?>_on.png')";

</script>
