<div class="topTitleContainer">
	<table style="width:100%; height:100%;">
		<tr>
			<td style="width:30%; text-align:left; vertical-align:bottom;  color:#c69219; font-size:10px;">
				<?
					if($loginId){
						$mynick = $_SESSION[userData][nick];
						echo "$mynick";
					}
				?>
			</td>
			<td class="titleArea" onclick="location.replace('?');">
				
			</td>
			<td style="width:30%; text-align:right; vertical-align:bottom;  color:#c69219; font-size:10px;">
				<?
					if($loginId){
						$myrp = number_format($_SESSION[userData][point]);
					echo "나의 RP : $myrp";
					}
				?>
			</td>
		</tr>
	</table>
</div>