html, body, table, tr, td, div, img, input {margin:0; padding:0; border-style:none; line-height:130%; font-family:sans-serif; font-size:14px;}
html, body {height:100% }


/*** 컨텐츠 Body 관련 ***/
.bodyContainer{width: 100%; height: 100%; z-index:1;}



/*** 각요소 관련 관련 ***/
.bt_default {border-style:none; border-radius:10px; color:#FFFFFF; font-weight:bold; text-align:center; cursor:pointer;}
.bt_default_shadow {border-style:none; border-radius:10px; box-shadow: 1px 1px 3px #000000; color:#FFFFFF; font-weight:bold; text-align:center; cursor:pointer;}

.input_default {border-width:1px; padding:3px; background-color:#FFFFFF; border-radius:5px; border-style:solid;}

.box_default { background-color:#FFFFFF; padding:30px; text-align:center; border-radius:10px; box-shadow: 1px 1px 3px #000000;}

.box_soft { background-color:#FFFFFF; padding:30px; text-align:center; border-radius:5px; box-shadow: 1px 1px 3px #999999;}
.box_soft_title {border-bottom:1px solid #DDDDDD; text-align:left; padding:10px; color:#000000; font-size:14px; height:55px;}
.box_soft_guide {color:#000000; font-size:12px; padding:10px; text-align:left; vertical-align:top;}

.table_title {background-color:#4f6377; color:#FFFFFF; padding:10px; text-align:center; font-size:14px;}
.table_control {padding:10px; text-align:left; color:#000000; font-size:14px;}
.table_line1 {background-color:#fafafa; color:#000000; padding:10px; text-align:center; font-size:12px;}
.table_line2 {background-color:#ffffff; color:#000000; padding:10px; text-align:center; font-size:12px;}
.table_input {border-width:1px; padding:3px; background-color:#FFFFFF; border-style:solid; border-color:#DDDDDD;}
.table_button {border-width:1px; padding:3px 10px 3px 10px; background-color:#FFFFFF; border-radius:5px; border-style:solid; border-color:#DDDDDD; cursor:pointer;}



/*
/*** 최상위 컨테이너 ***
.bodyContainer{background-image:url('../images/bg_default.png'); background-size:100% 100%; width: 100%; height: 100%; text-align: center;}


/*** 컨텐츠 Body 관련 ***
.bodyContainerTypeA {width: 100%; height: 100%; z-index:1;}

.mainMenuContainerTypeB {width: 100%; height: 14%; z-index:1;}
.bodyContainerTypeB {width: 100%; height: 86%; z-index:1;}



/*** 각요소 관련 관련 ***
.input_outfield { background-color:#FFFFFF; border-style:none; border-radius:15px; box-shadow: 1px 1px 3px #000000; color:#000000; }
.input_infield { background-color:#FFFFFF; border-style:none; border-radius:15px; border-style:solid; border-color:#fab60a; border-width:1px; color:#000000; }

.bt_outfield { background-color:#fab60a; border-style:none; border-radius:15px; box-shadow: 1px 1px 3px #000000; color:#FFFFFF; font-weight:bold; text-align:center; }
.bt_infield { background-color:#fab60a; border-style:none; border-radius:15px; color:#FFFFFF; font-weight:bold; text-align:center; }

.div_outfield{ background-color:#FFFFFF; border-style:none; border-radius:15px; box-shadow: 1px 1px 3px #000000; color:#000000; }





/*** 상단 메뉴 관련 ***
.menuArea{width:20%; background-size:contain; background-repeat:no-repeat; background-position:50% 50%;}


/*** 팝업관련 ***
.alertBG{background-color:#000000; opacity:0.7; width: 100%; height: 100%; position:absolute; top:0px; left:0px; display:none; text-align: center; z-index:9998;}
.alertTableContainer{background-color:#FFFFFF; position:absolute; display:none; text-align: center;  z-index:9999; border-radius:15px; border-style:solid; border-color:#fab60a; border-width:1px;}
.confirmBG{background-color:#000000; opacity:0.7; width: 100%; height: 100%; position:absolute; top:0px; left:0px; display:none; text-align: center; z-index:9998;}
.confirmTableContainer{background-color:#FFFFFF; position:absolute; display:none; text-align: center;  z-index:9999; border-radius:15px; border-style:solid; border-color:#fab60a; border-width:1px;}













/*** 상단 메뉴 관련 ***
.topTitleContainer{background-image:url('../images/bg_top_tile.png'); width: 100%; height: 6%; background-size:100% 100%; z-index:1;}
.titleArea{width:40%; background-image:url('../images/title_basic_log.png'); background-size:contain; background-repeat:no-repeat; background-position:50% 50%; margin:10px, 10px, 10px, 10px;}




/*** 컨텐츠 Body 관련 ***


.innerBody{background-color:#08101a; border-style:solid; border-width:1px; border-color:#2e3a45; overflow-y:auto;}





/*** 각요소 관련 관련 ***
.bt_default { background-image:url('../images/bt_default_bg.png'); border-style:solid; border-color:#2e3a45; border-width:1px; background-size:100% 100%; background-repeat:no-repeat; color:#888888; text-align:center;}




.input_default { background-color:#05070b; border-style:solid; border-color:#2e3a45; border-width:1px; background-size:100% 100%; background-repeat:no-repeat; color:#FFFFFF;}

.bt_mainmenu_on { background-image:url('../images/bt_mainmenu_on.png'); border-style:solid; border-color:#c69219; border-width:1px; background-size:100% 100%; background-repeat:no-repeat; color:#c69219; font-size:11px; text-align:center;}
.bt_mainmenu_off { background-image:url('../images/bt_mainmenu_off.png'); border-style:solid; border-color:#2e3a45; border-width:1px; background-size:100% 100%; background-repeat:no-repeat; color:#c69219; font-size:11px; text-align:center;}

*/

