body, td, img, table, div, input {margin:0; padding:0; border-style:none; line-height:130%; font-family:sans-serif; font-size:14px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html, body {height:100% }

/*** 컨텐츠 Body 관련 ***/
.bodyContainer{background-color:#f5f5f5; background-size:100% 100%; width: 100%; height: 100%; text-align: center;}
.titleContainer {width: 100%; height: 10%; z-index:1;}
.menuContainer {width: 100%; height: 8%; z-index:1;}

.titleArea{background-image:url('../images/itcash_toplogo01.png'); width:30%; background-size:contain; background-repeat:no-repeat; background-position:50% 50%; margin:10px, 10px, 10px, 10px;}
.menuArea{width:20%; background-size:100% 100%; background-repeat:no-repeat; background-position:50% 50%;}
.subTitleArea{text-align:center; vertical-align:middle; color:#FFFFFF; font-size:20px; font-weight:bold; background-color:#fa6586;}



.bodyContainerTypeA {width: 100%; height: 90%; z-index:1;}

.bodyContainerTypeB {width: 100%; height: 82%; z-index:1;}

.bodyContainerTypeC {width: 100%; height: 100%; z-index:1;}



/*** 각요소 관련 관련 ***/
.bt_default_gray { background-color:#bdbdbd; border-style:none; color:#FFFFFF; font-weight:bold;}
.bt_default_orange { background-color:#00285b; border-style:none; color:#FFFFFF; font-weight:bold;}
.input_default{ background-color:#FFFFFF; border-style:solid; border-width:1px; border-color:#CCCCCC; color:#000000;}




.input_outfield { background-color:#FFFFFF; border-style:none; border-radius:15px; box-shadow: 1px 1px 3px #000000; color:#000000; }
.input_infield { background-color:#FFFFFF; border-style:none; border-radius:15px; border-style:solid; border-color:#fab60a; border-width:1px; color:#000000; }

.bt_outfield { background-color:#fab60a; border-style:none; border-radius:15px; box-shadow: 1px 1px 3px #000000; color:#FFFFFF; font-weight:bold; text-align:center; }
.bt_infield { background-color:#fab60a; border-style:none; border-radius:15px; color:#FFFFFF; font-weight:bold; text-align:center; }

.div_outfield{ background-color:#FFFFFF; border-style:none; border-radius:15px; box-shadow: 1px 1px 3px #000000; color:#000000; }





/*** 상단 메뉴 관련 ***/


/*** 팝업관련 ***/
.alertBG{background-color:#000000; opacity:0.7; width: 100%; height: 100%; position:absolute; top:0px; left:0px; display:none; text-align: center; z-index:9998;}
.alertTableContainer{background-color:#FFFFFF; position:absolute; display:none; text-align: center;  z-index:9999;  border-style:solid; border-color:#fa6586; border-width:1px;}
.confirmBG{background-color:#000000; opacity:0.7; width: 100%; height: 100%; position:absolute; top:0px; left:0px; display:none; text-align: center; z-index:9998;}
.confirmTableContainer{background-color:#FFFFFF; position:absolute; display:none; text-align: center;  z-index:9999;  border-style:solid; border-color:#fa6586; border-width:1px;}













/*** 상단 메뉴 관련 ***
.topTitleContainer{background-image:url('../images/bg_top_tile.png'); width: 100%; height: 6%; background-size:100% 100%; z-index:1;}
.titleArea{width:40%; background-image:url('../images/title_basic_log.png'); background-size:contain; background-repeat:no-repeat; background-position:50% 50%; margin:10px, 10px, 10px, 10px;}




/*** 컨텐츠 Body 관련 ***


.innerBody{background-color:#08101a; border-style:solid; border-width:1px; border-color:#2e3a45; overflow-y:auto;}





/*** 각요소 관련 관련 ***
.bt_default { background-image:url('../images/bt_default_bg.png'); border-style:solid; border-color:#2e3a45; border-width:1px; background-size:100% 100%; background-repeat:no-repeat; color:#888888; text-align:center;}




.input_default { background-color:#05070b; border-style:solid; border-color:#2e3a45; border-width:1px; background-size:100% 100%; background-repeat:no-repeat; color:#FFFFFF;}

.bt_mainmenu_on { background-image:url('../images/bt_mainmenu_on.png'); border-style:solid; border-color:#c69219; border-width:1px; background-size:100% 100%; background-repeat:no-repeat; color:#c69219; font-size:11px; text-align:center;}
.bt_mainmenu_off { background-image:url('../images/bt_mainmenu_off.png'); border-style:solid; border-color:#2e3a45; border-width:1px; background-size:100% 100%; background-repeat:no-repeat; color:#c69219; font-size:11px; text-align:center;}























/*** 상단 메뉴 관련 ***
.logoContainer{background-color:#262626; width: 100%; height: 10%; text-align: center; z-index="1";}
.menuContainer{background-color:#262626; width: 100%; height: 10%; text-align: center; z-index="1";}
.menuLine{background-color:#fbb700; width: 100%; height: 1%; z-index="1";}
.logoArea{width:40%; background-image:url('../images/logo.png'); background-size:contain; background-repeat:no-repeat; background-position:50% 50%; margin:10px, 10px, 10px, 10px;}
.menuArea{width:20%; background-size:contain; background-repeat:no-repeat; background-position:50% 50%;}
.topShadow{background-image:url('../images/top_shadow.png'); width: 100%; height: 1%;}
*/
/*** 기타 ***/




/*** 컨텐츠 Body 관련 ***/
/*
.headerContainerTypeA {background-color:#262626; width: 100%; height: 10%; text-align: center; color:#FFFFFF; z-index="1";}
.headerLineTypeA{background-color:#fbb700; width: 100%; height: 1%; z-index="1";}
.bodyContainerTypeA {background-color:#4b4b4b; width: 100%; height: 81%; text-align: center; vertical-align:middle; overflow-y:auto; z-index="1";}
.bottomContainerTypeA {background-color:#fbb700; width: 100%; height: 8%; text-align: center; z-index="1";}


.bodyContainerTypeB {background-color:#262626; width: 100%; height:100%; text-align:center;  overflow-y:auto; z-index="1";}


.subMenuContainerTypeC{background-color:#262626; width: 100%; height: 8%; text-align: center; z-index="1";}
.bodyContainerTypeC{background-color:#4b4b4b; width: 100%; height: 63%; text-align: center;  overflow-y:auto; z-index="1";}
.bottomContainerTypeC {background-color:#fbb700; width: 100%; height: 8%; text-align: center; z-index="1";}

.bodyContainerTypeD{background-color:#4b4b4b; width: 100%; height: 79%; text-align: center;  overflow-y:auto; z-index="1";}

.headerContainerTypeE {background-color:#262626; width: 100%; height: 10%; text-align: center; color:#FFFFFF; z-index="1";}
.headerLineTypeE{background-color:#fbb700; width: 100%; height: 1%;}
.subMenuContainerTypeE{background-color:#262626; width: 100%; height: 8%; text-align: center; z-index="1";}
.bodyContainerTypeE {background-color:#4b4b4b; width: 100%; height: 73%; text-align: center; vertical-align:middle; overflow-y:auto; z-index="1";}
.bottomContainerTypeE {background-color:#fbb700; width: 100%; height: 8%; text-align: center; z-index="1";}

.headerContainerTypeF {background-color:#262626; width: 100%; height: 10%; text-align: center; color:#FFFFFF; z-index="1";}
.headerLineTypeF{background-color:#fbb700; width: 100%; height: 1%; z-index="1";}
.bodyContainerTypeF {background-color:#4b4b4b; width: 100%; height: 89%; text-align: center; vertical-align:middle; overflow-y:auto; z-index="1";}

.subMenuContainerTypeG{background-color:#262626; width: 100%; height: 8%; text-align: center; z-index="1";}
.bodyContainerTypeG{background-color:#4b4b4b; width: 100%; height: 71%; text-align: center;  overflow-y:auto; z-index="1";}

.headerContainerTypeH {background-color:#262626; width: 100%; height: 10%; text-align: center; color:#FFFFFF; z-index="1";}
.headerLineTypeH{background-color:#fbb700; width: 100%; height: 1%; z-index="1";}
.subMenuContainerTypeH{background-color:#262626; width: 100%; height: 8%; text-align: center; z-index="1";}
.bodyContainerTypeH {background-color:#4b4b4b; width: 100%; height: 81%; text-align: center; vertical-align:middle; overflow-y:auto; z-index="1";}


.bodyContainerTypeI{background-color:#4b4b4b; width: 100%; height: 71%; text-align: center;  overflow-y:auto; z-index="1";}
.bottomContainerTypeI {background-color:#fbb700; width: 100%; height: 8%; text-align: center; z-index="1";}

.headerContainerTypeJ {background-color:#262626; width: 100%; height: 10%; text-align: center; color:#FFFFFF; z-index="1";}
.headerLineTypeJ{background-color:#fbb700; width: 100%; height: 1%; z-index="1";}
.bodyContainerTypeJ {background-color:#4b4b4b; width: 100%; height: 89%; text-align: center; vertical-align:middle; overflow-y:auto; z-index="1";}

.bodyContainerTypeK{background-color:#4b4b4b; width: 100%; height: 92%; text-align: center;  overflow-y:auto; z-index="1";}
.bottomContainerTypeK {background-color:#fbb700; width: 100%; height: 8%; text-align: center; z-index="1";}

*/



